body{font-family: 'Open Sans', sans-serif; color: #444;}
.b-tel{border: white  2px solid; color: white;padding: 5px 10px; border-radius: 4px;width: max-content; float: right;font-weight: 700;}
a:hover{text-decoration: none;}
.mor{background-color: #82027e;transform: skew(2deg, 0deg); height: 100%; width: 100%;}
.morg{background-color: #82027e;}
.usuario{font-weight: bold; margin-top: 8rem; color: #82027e; font-size: 2.5rem; margin-bottom: 0;}

.f-morada{border-bottom-left-radius: 4rem;background-color: #82027e;transform: skew(4deg, -4deg);position: absolute; height: 100%; width: 100%; top: -2.5rem; left: 2rem;}
.f-moradag{border-bottom-right-radius: 4rem;background-color: #82027e;transform: skew(4deg, -4deg);position: absolute; height: 100%; width: 100%; top: -1.8rem; left: -6.5rem;}

.titulo{color: #82027e; font-weight: 700;font-size:3rem}
.t-morado{color: #82027e; font-weight: 700;}
.t-mora{color: #82027e;}
.t-morag{color: #82027e;}
.bg-morado{background-color: #82027e;}
.skewemord{position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: bottom left;
    -ms-transform: skew(-20deg, 0deg);
    -webkit-transform: skew(-20deg, 0deg);
    transform: skew(-10deg, 0deg);
  }
.icono{width: 26px;}
.tfon{font-size: 13px;}
.over{overflow: hidden;}
.priv{font-size: 15px;}
.subt1{font-size: 2rem;}
.mancha{background-image: url(/img/city.svg);background-repeat: no-repeat; background-size: contain;}
.carro-lado{width: 50rem; margin-left: -22rem;}
.tit{font-size: 2rem;}
.cd{background-image: url(/img/mancha.svg); background-repeat: no-repeat;position:absolute;height:20rem;z-index:-1;width:100%;}
.car{width:90%;max-width:560px;margin-top:0rem; margin-left:30%;position:absolute;z-index:0;margin-top:20px}
.b-mod{background-color: #009193;color: white;}
.b-mod:hover{background-color: #036d6e;color: white;}

.icon{width: 8rem; margin: 10px 40px;}
.iconos{width: 120px; margin: 5px 0;}
.boton{background:#009193; color: white; width: 80%; border-radius: 10px; font-size: 25px; padding: 0;}
.boton:hover{background:#036d6e; color: white;}

.b-cotizar{background:#009193; color: white; width: 100%; font-size: 26px;}
.b-cotizar:hover{background:#047375; color: white; }

.i-grac{width: 120%; margin-left: -10rem; margin-top: 8rem; position: relative; z-index: 2;}
.borde{ border-radius: 4px; width: max-content; margin: auto; padding: 0 5px; color: #444;}
.custom-select, .form-control{height: 52px;}
.riesgo{width: 3rem;}
.m-precio{color: #82027e; font-size: 1.7rem;}
.fichag{box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); border-radius: 4px;}

.borde-rojo{border:solid 3px red;}

@media (min-width: 1100px) and (max-width: 1500px){
  .f-moradag{ top: -0.8rem; left: -5.8rem;}
.car{width:90%;max-width:560px;margin-top:0rem; margin-left:23%;position:absolute;z-index:0;margin-top:20px}

}

@media (min-width: 801px) and (max-width: 1100px){
  .f-morada{transform: skew(5deg, -4deg);}
  .f-moradag{ top: -0.8rem; left: -4.5rem;}
  .m-precio{font-size: 1.5rem;}
  .riesgo{width: 2rem;}
  .t-riesgo{font-size: 0.8rem;}

  .custom-select, .form-control {height: 40px;}
  .suma{font-size: 15px;}
  .titulo{font-size: 2.2rem;}
  .tit{font-size: 1.5rem;}
  .subt1{text-align: center;}
  .carro-lado {width: 40rem;}
  .mancha{margin: auto;}

    h1{font-size: 2rem;}
    h3, p, li {font-size: 16px;}
    .icon{width: 100px; margin: 10px 0px;}
    .subtext{font-size: 24px;}
    .b-tel {font-size: 15px; padding: 5px 3px;}
    .iconos{width: 80px; margin: 5px 0;}
    .tform{font-size: 14px;}
    .priv{font-size: 12px;}
    .b-cotizar{width: 100%; margin-bottom: 1.5rem;}
    .t-iconos{font-size: 14px; text-align: center;}
    ul{padding: 0;}
    .imgstylet{height: 25px;}
    .subt{font-size: 26px;}
    .l-carro { width: 100%;}
    p{text-align: left;}

     /* estilos de interiores*/
  .color{width: 11rem; margin-top: -1.5rem; height: 90px;}
  .imgaseg{width: 50%; margin-top: 35px;}
  .text2{font-size: 23px;}
  .b-arriba{width: 100%;}
  .moneda{width: 40px;}
  .desc{font-size: 18px;}
  .ficha{margin-top: 0;}
    
     /*estilos de gracias*/
  .i-grac{margin-left: 0; width: 100%;margin-top: 4rem;}
  .usuario {margin-top: 3rem; font-size: 1.8rem; margin-bottom: 0;}
  h2{margin-top: 0rem; font-size: 1.8rem;}
  .borde{margin: 10px auto;}
  .ult-t{font-size: 14px;}
  .car{width:100%;margin-top:0rem; margin-left:3rem;position:absolute;z-index:0;margin-top:90px}
}
@media (min-width: 768px) and (max-width: 800px){
  .f-morada{transform: skew(4.8deg, -4deg); left: 1.3rem;}
  .f-moradag{ top: -0.8rem; left: -3.2rem;}

  .subt1{font-size: 1.5rem;}
  .carro-lado{width: 35rem;}
  .tit{font-size: 1.3rem;}
  .tfon{font-size: 10px;}

  .t-morag{font-size: 20px;}
  .m-precio{font-size: 1rem;}
  .riesgo{width: 1.3rem;}
  .t-riesgo{font-size: .6rem;}


    h1{font-size: 1.3rem;}
    h3, p, li {font-size: 16px;}
    .icon{width: 125px; margin: 10px 0px;}
    .subtext{font-size: 15px; margin-top: 12px;}
    .b-tel {font-size: 15px; padding: 5px 3px;}
    .iconos{width: 80px; margin: 5px 0;}
    .tform{font-size: 14px;}
    .priv{font-size: 12px;}
    .b-cotizar{width: 100%; margin-bottom: 1.5rem;}
    .t-iconos{font-size: 14px; text-align: center;}
    ul{padding: 0;}
    .imgstylet{height: 25px;}
    .subt{font-size: 26px;}
    .l-carro {margin-top: 1rem; bottom: 10rem;}
    p{text-align: left;}
    .mancha{background-position-x: 0rem; margin:auto;}
    .custom-select, .form-control{height: 40px;}
    .car{width:100%;margin-top:0rem; margin-left:0rem;position:absolute;z-index:0;margin-top:70px}

     /* estilos de interiores*/
  .color{width: 11rem; margin-top: -1.5rem; height: 90px;}
  .imgaseg{width: 50%; margin-top: 35px;}
  .text2{font-size: 23px;}
  .b-arriba{width: 100%;}
  .moneda{width: 40px;}
  .desc{font-size: 20px;}
  .ficha{margin-top: 0;}


    /*estilos de gracias*/
  .i-grac{margin-left: 0; width: 100%;margin-top: 4rem;}
  .usuario, h2{margin-top: 0.5rem; font-size: 1.5rem; margin: 0;}
  .borde{margin: 10px auto;}
  .ult-t{font-size: 14px;}
}

@media (min-width: 376px) and (max-width: 767px){
  .titulo{font-size: 25px;}
  .carro-lado{width:30rem; margin-left: -8rem;margin-bottom: 3rem; }
  .cd{display: none;}
  .mor{background-color: white;}
  .subtext{font-size: 14px; text-align: center; color: white;}
  .titulo{color: white; text-align: center; margin-top: 15px;}
  .temp{background-color: #82027e;}
  .f-morada {border-bottom-left-radius: 1rem;transform: skew(0deg, 0deg);top: 0rem;left: 0rem;}
  .custom-select, .form-control{height: 40px;}
  .subt1{font-size: 1.4rem;}
  .tit{font-size: 1.2rem;}
  .blanco{background-color: white;}
  .f-moradag {transform: skew(30deg, 0deg);position: absolute;height: 50%;width: 100%;top: 3.2rem;left: -6.5rem;}
  .m-precio{font-size: 1.5rem;}
  .riesgo{width: 2rem;}

  .b-telc{color: #009193; border:solid 2px #009193;width: max-content;float: right;padding: 3px 10px; margin: 5px 0px;}
  .tc{color: #009193;}
    h3, p, li {font-size: 16px;}
    .icon{width: 120px; margin: 10px 0px;}
    .subtext{font-size: 22px; margin-top: 12px; text-align: center;}
    .b-tel {font-size: 15px; padding: 5px 3px;}
    .iconos{width: 70px; margin: 5px 0;}
    .tform{font-size: 14px;}
    .priv{font-size: 12px;}
    .b-cotizar{width: 100%;}
    .t-iconos{font-size: 13.5px;}
    ul{padding: 0;}
    .imgstylet{height: 25px;}
    .subt{font-size: 23px;}
    .custom-select{height: 42px;}


    /* estilos de interiores*/
  .text2{font-size: 23px;}
  .b-arriba{width: 100%;}
  .moneda{width: 40px;}
  .desc{font-size: 22px;}
  .ficha{margin-top: 0;}

   /*estilos de gracias*/
  .i-grac{margin-left: 0; width: 100%;margin-top: 4rem;}
  .usuario, h2{margin-top: 0.5rem; font-size: 1.5rem; margin: 0;}
  .borde{margin: 10px auto; display: block;}
  .skewemord{transform:skew(0);}  
}

@media (min-width: 321px) and (max-width: 375px){
  .titulo{font-size: 24px;}
  .carro-lado{width:25rem; margin-left: -6rem;margin-bottom: 3rem; }
  .cd{display: none;}
  .mor{background-color: white;}
  .subtext{font-size: 14px; text-align: center; color: white;}
  .titulo{color: white; text-align: center; margin-top: 10px ;}
  .temp{background-color: #82027e;}
  .f-morada {border-bottom-left-radius: 1rem;transform: skew(0deg, 0deg);top: 0rem;left: 0rem;}
  .custom-select, .form-control{height: 40px;}
  .subt1{font-size: 1.2rem;}
  .tit{font-size: 1.2rem;}
  .blanco{background-color: white;}
  .f-moradag {transform: skew(30deg, 0deg);position: absolute;height: 50%;width: 100%;top: 3.2rem;left: -6.5rem;}
  .m-precio{font-size: 1.2rem;}
  .riesgo{width: 2rem;}
  .t-riesgo{font-size: .8rem;}

  .b-telc{color: #009193; border:solid 2px #009193;width: max-content;float: right;padding: 3px 10px; margin: 5px 0px;}
  .tc{color: #009193;}

    h3, p, li {font-size: 16px;}
    .icon{width: 130px; margin: 12px 0px;}
    .subtext{font-size: 19px; margin-top: 12px;}
    .b-tel {font-size: 15px; padding: 5px 3px;}
    .iconos{width: 70px;}
    .tform{font-size: 14px;}
    .priv{font-size: 12px;}
    .b-cotizar{width: 100%;}
    .t-iconos{font-size: 11.5px;}
    ul{padding: 0;}
    .imgstylet{height: 25px;}
    .subt{font-size: 21px;}
    .custom-select{height: 42px;}


  /* estilos de interiores*/
  .text2{font-size: 19px;}
  .b-arriba{width: 100%;}
  .moneda{width: 40px;}
  .desc{font-size: 20px;}
  .ficha{margin-top: 0;}

   /*estilos de gracias*/
  .i-grac{margin-left: 0; width: 100%;margin-top: 4rem;}
  .usuario, h2{margin-top: 0.5rem; font-size: 1.5rem; margin: 0;}
  .borde{margin: 10px auto; display: block;}
  .ult-t{font-size: 14px;}
  .skewemord{transform:skew(0);}
}

@media (min-width: 240px) and (max-width: 320px){
  .titulo{font-size: 20px; text-align: center;}
  .carro-lado{width:22rem; margin-left: -6rem;margin-bottom: 3rem; }
  .cd{display: none;}
  .mor{background-color: white;}
  .subtext{font-size: 20px; text-align: center; color: white; margin-top: 10px;}
  .titulo{color: white; margin-top: 15px;}
  .temp{background-color: #82027e;}
  .f-morada {border-bottom-left-radius: 1rem;transform: skew(0deg, 0deg);top: 0rem;left: 0rem;}
  .custom-select, .form-control{height: 40px;}
  .subt1{font-size: 1.3rem;}
  .tit{font-size: 1.2rem;}
  .blanco{background-color: white;}
  .f-moradag {transform: skew(30deg, 0deg);position: absolute;height: 50%;width: 100%;top: 3.2rem;left: -6.5rem;}
  .m-precio{font-size: 1rem;}
  .riesgo{width: 1.5rem;}
  .t-riesgo{font-size: 0.7rem;}

  .b-telc{color: #009193; border:solid 2px #009193;width: max-content;float: right;padding: 3px 5px; margin: 5px 0px;}
  .tc{color: #009193;}

  h3, p, li {font-size: 16px;}
  .icon{width: 120px; margin: 10px 0px;}
  .b-tel {font-size: 15px; padding: 5px 3px;}
  .iconos{width: 70px;}
  .tform{font-size: 14px;}
  .priv{font-size: 9px;}
  .b-cotizar{width: 100%;}
  .t-iconos{font-size: 9.5px;}
  ul{padding: 0;}
  .imgstylet{height: 25px;}
  .subt{font-size: 20px;}
  .custom-select{height: 42px;}

  /* estilos de interiores*/
  .text2{font-size: 19px;}
  .b-arriba{width: 100%;}
  .moneda{width: 40px;}
  .desc{font-size: 16px;}
  .ficha{margin-top: 0;}
    /*gracias interiores*/
  .ficha2{background: white; }  
  .iasegg{width: 50%; padding: 10px 0;}
  /*estilos de gracias*/
  .i-grac{margin-left: 0; width: 100%;margin-top: 4rem;}
  .usuario, h2{margin-top: 0.5rem; font-size: 1.3rem; margin: 0;}
  .borde{margin: 10px auto;display: block;}
  .ult-t{font-size: 14px;}
  .skewemord{transform:skew(0);}
}