<template>
  <div v-show="!this.showBottonAutoBack == 1">
    <!-- -->
    <a class="botonTop" :href=" '/' + '#formulario'">
      <span> <img src="img/arriba.svg" class="arrow"></span>
    </a>
    <!-- -->
  </div>
</template>
<script>
export default {
   created: function () {
          this.$store.state.config.urlRedireccion = '';
        },
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function() {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>
<style scoped>
.arrow {
    width: 30px;
}
span{margin: auto;}

.botonTop {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #00d752;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 100%;
    padding:10px 10px;
    z-index:99;
    background-color: #1b96ab;
    height: 55px;
    width: 55px;
  }
.botonTop:hover {
    background-color: #1d6f7e;
    color: white;
}



</style>
