<template>
  <div class="container-fluid" style="background:#f2f2f2;">
    <div class="row">
      <div class="col-12 text-center">
        <img v-if="!$store.state.config.notFound" :src="require(`static/img/aseguradora-pe/${this.$store.state.config.imga}.png`)" alt="" class="icon">
      </div>
    </div>
  </div>
</template>
