<template>
  <div class="container-fluid bg">
    <div class="row">
      <div class="col-12 py-0 px-xl-5">
        <div class="navbar m-0 p-0">
          <!-- LOGO -->
          <a href="/">
            <img :v-if="!$store.state.config.notFound" :src="require(`static/img/aseguradora-pe/${this.$store.state.config.imga}.png`)" alt="" class="icon d-none d-md-block">
            <img :v-if="!$store.state.config.notFound" :src="require(`static/img/aseguradora-pe/${this.$store.state.config.imga}.png`)" alt="" class="icon d-block d-md-none">
          </a>
          <!-- BTN TEL -->
          <div class="btnTel">
            <a :href="'tel:51'+$store.state.config.telefonoAS" class="btn">
              <p>LLAMA GRATIS</p>
              <img src="/img/icon/headset.svg" alt="Tel" />
              <b> (51) {{$store.state.config.telefonoAS}}</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
