<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4  morg d-none d-md-inline">
<!--        <img :src="!require(`static/img/aseguradora-pe/${this.$store.state.config.imga}.png`)" alt="" class="icon">-->
      </div>
      <div class="col-4 d-inline d-md-none ">
<!--        <img :src="!require(`static/img/aseguradora-pe/${this.$store.state.config.imga}.png`)" alt="" class="icon">-->
      </div>

      <div class="col-6 p-0  text-right over ">
      </div>
    </div>
  </div>
</template>
