<template>

</template>

<script>
    export default {
        name: "GraciasPrincipal",
        created: function () {
            // Cotizacion
            if (this.$store.state.formData.nombre != "") {
              debugger
              this.$store.state.config.loading = true;
              if (this.$store.state.config.cotizacion) {
                this.$store.commit("cotizar");
              } else {
                this.$store.commit("saveData");
              }
            } else {
              // this.$router.replace({path: "/error/"});
            }
        },
    }
</script>

<style scoped>

</style>
