<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mt-md-2 mt-lg-0 col-lg-6 pl-lg-5 temp" id="formulario">
        <div class="row blanco">
          <div class="col-6 col-md-6  ">
            <img :src="require(`static/img/aseguradora-pe/${this.$store.state.config.imga}.png`)" alt="" class="icon" style="height: 60px; width: 100px">
          </div>

          <div class="col-6 text-right pr-lg-5 d-md-none">
            <div class="b-telc">
              <a :href="'tel:51'+$store.state.config.telefonoAS" style="color: black">
                <p class="text-center mb-0 text-black" style="color: black !important;">LLAMA GRATIS</p>
                <p class="mb-0 text-black"><img src="img/headset2.svg" class="icono" alt="icono">  (51){{$store.state.config.telefonoAS}}</p>
              </a>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h1 class="text-center mb-lg-0 mt-lg-3 subtext"><strong>Seguro vehicular</strong> {{this.nombreAs}}</h1>
            <h2 class="titulo text-center"> 20% de descuento<br />
              <span class="font-weight-normal">+11 Cuotas sin intereses</span></h2>
            <div class="cd offset-3"></div>
            <img class="car d-none d-md-block" src="/img/carro.svg" alt />
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 over pt-md-2 pt-lg-2">
        <!--  <div class="f-morada"></div> -->
        <div class="skewemord bg-morado"></div>
        <div class="row">
          <div class="col-12 text-right pr-lg-5 d-none d-md-inline">
            <div class="b-tel">
              <a :href="'tel:51'+$store.state.config.telefonoAS" >
                <p class="text-center mb-0 text-black tfon">LLAMA GRATIS</p>
                <p class="mb-0 text-black"><img src="img/headset.svg" class="icono" alt="icono">  (51){{$store.state.config.telefonoAS}}</p>
              </a>
            </div>

          </div>
        </div>
        <formulario-auto></formulario-auto>
      </div>
    </div>
    <div class="row my-3 my-lg-5 bef">
      <div class="col-12 text-center">
        <p class="subt1">¿Por qué tener un <span class="t-morado"> seguro Vehicular con {{this.nombreAs}}? </span></p>
      </div>

      <div class="col-12 col-sm-4 col-md-4 p-0 text-center">
        <img class="iconos" src="/img/icon1.svg" alt="abogado">
        <p class="m-0 t-iconos">Abogado </p>
        <strong class="m-0 t-iconos">al instante</strong>

      </div>
      <div class="col-12 col-sm-4 col-md-4 text-center">
        <img class="iconos" src="/img/icon2.svg" alt="taller">
        <p class="m-0 t-iconos">Reparación en el</p>
        <strong class="m-0 t-iconos">taller que tú elijas</strong>
      </div>
      <div class="col-12 col-sm-4 col-md-4 text-center">
        <img class="iconos" src="/img/icon3.svg" alt="imprudencia">
        <p class="m-0 t-iconos">Imprudencia</p>
        <strong class="m-0 t-iconos">temeraria</strong>
      </div>
    </div>
    <complemento-hdi v-if="hdi"></complemento-hdi>
    <complemento-qual v-else-if="qualitas"></complemento-qual>
  </div>
</template>

<script>
  import FormularioAuto from '~/components/forms/FormAuto.vue'
  import ComplementoHdi from '~/components/complementos/hdi/ComplementoHdi.vue'
  import ComplementoQual from "./complementos/qualitas/ComplementoQualitas";
    export default {
        name: "template.vue",
        components: {
          ComplementoQual,
          FormularioAuto,
          ComplementoHdi,
        },
        data: function(){
          return {
            aseguradora: '',
            nombreAs: '',
            hdi: false,
            qualitas: false
          }
        },
        created() {
          this.aseguradora = this.$store.state.config.aseguradora;
          this.nombreAs = this.$store.state.auto[this.$store.state.config.imga].nam;

          if (this.$route.path == '/hdi')
            this.hdi = true;

          if (this.$route.path == '/qualitas')
            this.qualitas = true;
        }
    }
</script>

<style scoped>
 /* @import '../assets/app.css';
  @import '../assets/auto.css';*/
</style>
