<template>
  <base-component ></base-component>
</template>

<script>
  import BaseComponent from '~/components/Principal.vue'
    export default {
        name: "hdi-template.vue",
        created() {
          this.$store.state.config.aseguradora = "HDI";
          this.$store.state.config.cotizacion = true;
          this.$store.state.config.emision = true;
          this.$store.state.config.telefonoAS = "47495127";
          this.$store.state.config.grupoCallback = "VN MULTIMARCAS";
          this.$store.state.config.from = "ONLINESEGUROS-HDI";
          this.$store.state.config.urlRedireccion = "gracias";
          this.$store.state.config.idAseguradora = 32;
          this.$store.state.config.idPagina = 1553;
          this.$store.state.config.idSubRamo = 32;
          this.$store.state.config.imga = "hdi";
          //this.$store.state.config.idCampana = 70;
          this.setUrl();
        },
        components: {
          BaseComponent
        },
        methods:{
          setUrl(){
            if (process.client) {
              require('~/assets/jquery-3.3.1.slim.min.js')
              this.$store.state.config.url = $(location).attr('href');
            }
          }
        }
    }
</script>

<style scoped>

</style>
