<template>
    <h1>No existe la aseguradora</h1>
</template>

<script>
    export default {
        name: "TemplateNotFound",
      created() {
          console.log('entra not found')
      }
    }
</script>

<style scoped>

</style>
