<template>
  <base-component ></base-component>
</template>

<script>
    import BaseComponent from '~/components/Principal.vue'
    export default {
        name: "TemplateGNP",
        created: function() {
          this.$store.state.config.aseguradora = "QUALITAS";
          this.$store.state.config.cotizacion = true;
          this.$store.state.config.emision = true;
          this.$store.state.config.telefonoAS = "47495116";
          this.$store.state.config.grupoCallback = "VN COMPARADOR M";
          this.$store.state.config.from = "ONLINESEGUROS-QUALITAS";
          this.$store.state.config.urlRedireccion = "gracias";
          this.$store.state.config.idAseguradora = 40;
          this.$store.state.config.idPagina = 1556;
          //this.$store.state.config.idCampana = 70;
          this.$store.state.config.imga = "qualitas";

          this.setUrl();
        },
        components: {
          BaseComponent
        },
        methods:{
          setUrl(){
            if (process.client) {
              require('~/assets/jquery-3.3.1.slim.min.js')
              this.$store.state.config.url = $(location).attr('href');
            }
          }
        }
    }
</script>

<style scoped>

</style>
