/**/
/**/
/*  LEO ES GENIAL  */
/**/
/**/
.no-text-decoration{text-decoration:none}
.no-text-decoration:hover,
.no-text-decoration:active{text-decoration:none}
.line-height-1{line-height:1}
.img-nivel-min-width{min-width:154px!important}
.link-social-facebook:hover,
.link-social-facebook:active{color:#dfe3ee!important}
.link-social-youtube:hover,
.link-social-youtube:active{color:#ecb7b7!important}
.link-social-twitter:hover,
.link-social-twitter:active{color:#c0deed!important}
.link-social-instagram:hover,
.link-social-instagram:active{color:#ffdf9e!important}
.background-ciudad{background-color:transparent!important;background-size:contain;background-position:0 85%;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/mx_city.svg")}
.background-landing{background-color:transparent!important;background-size:350px;background-position:30px 179px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/auto-normal.svg")}
.background-landing-uber{background-color:transparent!important;background-size:350px;background-position:30px 100px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/hdi-seguros-de-auto-ahorraseguros.svg")}
.display-6{font-size:1.5rem}
.display-4-5{font-size:3rem}
.bg-success-ligth{background-color:#d9f7e1}
.font-weight-500{font-weight:500!important}
.bg-transparent{background-color:transparent!important}
.breadcrumb-item+.breadcrumb-item{opacity:.7}
.breadcrumb-item+.breadcrumb-item:before{color:#d0d9e5!important;opacity:.7}
.opacity-7{opacity:.7!important}
.shadow-cards{box-shadow:4px 4px 17px rgba(0,0,0,.2)}
.blockMsg {border: 0!important;background-color: transparent!important;}
.gira-x{transform: scaleX(-1)!important;}
.text-blue-asmx-2{color: #395B83;}
.font-size-11{font-size: 11px;}.font-size-1-5-rem{font-size: 1.5rem;}
.font-size-10{font-size:10px!important;}
.font-size-09{font-size:9px;}
.font-size-12{font-size:12px!important;}
.font-size-14{font-size:14px;}
.line-height-1{line-height:1;}
.bg-accept {background-color: #f5f9ff!important;}
/*leo es genial @vargasdesignMx*/
.imlogoahorrasegurosnew{max-width:220px;height:auto;display:inline-block;}
.abajodeBreadcrumbs{font-size: 1.3em;text-align:center;font-weight:normal;}
.abajodeBreadcrumbs strong{font-size: 1.3em;text-align:center;font-weight:bold;}
.staryu{font-size:10px;}
.fa-3x{font-size:2.5em;}
.img-fluid-logo-aseg{/*width:170px!important;max-width:none;*/margin:0 auto;display:block;}
.height90{height:70px!important;}
@media(min-width:100px) and (max-width:480px){
  .imlogoahorrasegurosnew{max-width:128px;height:auto;display:block;}
  .navbar{padding:0;}
  .navbar-brand{margin-right:5px;}
  .media{display:block!important;}
}

/*HDI*/
.background-color-landing-hdi-pruebas{background:#006729;
  background:-moz-linear-gradient(top,#006729 50%,#79B530 50%);
  background:-webkit-linear-gradient(top,#006729 50%,#79B530 50%);
  background:linear-gradient(to bottom,#006729 50%,#79B530 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00661F',endColorstr='#79B530',GradientType=0)}
.color-landing-hdi-pruebas{color:#006729;}
.color-secundario-landing-hdi-pruebas{color:#79B530}
/**/
.background-color-landing-hdi{background:#006729;
  background:-moz-linear-gradient(top,#006729 50%,#79B530 50%);
  background:-webkit-linear-gradient(top,#006729 50%,#79B530 50%);
  background:linear-gradient(to bottom,#006729 50%,#79B530 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006729',endColorstr='#79B530',GradientType=0)}
.color-landing-hdi{color:#006729}

.img-aseguradora-hdi{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/hdi-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

/*aba*/
.background-color-landing-aba{background:#0088af;
  background:-moz-linear-gradient(top,#005f7a 50%,#0088af 50%);
  background:-webkit-linear-gradient(top,#005f7a 50%,#0088af 50%);
  background:linear-gradient(to bottom,#005f7a 50%,#0088af 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005F7A',endColorstr='#0088af',GradientType=0)}
.color-landing-aba{color:#005f7a}
.img-aseguradora-aba{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/axa-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

/*atlas*/
.background-color-landing-atlas{background:#ae141e;
  background:-moz-linear-gradient(top,#ae141e 50%,#dd1e29 50%);
  background:-webkit-linear-gradient(top,#ae141e 50%,#dd1e29 50%);
  background:linear-gradient(to bottom,#ae141e 50%,#dd1e29 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#AE141E',endColorstr='#dd1e29',GradientType=0)}
.color-landing-atlas{color:#ae141e}
.img-aseguradora-atlas{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/atlas-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

/*banorte*/
.background-color-landing-banorte{background:#ae1316;
  background:-moz-linear-gradient(top,#ae1316 50%,#e11921 50%);
  background:-webkit-linear-gradient(top,#ae1316 50%,#e11921 50%);
  background:linear-gradient(to bottom,#ae1316 50%,#e11921 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#AE1316',endColorstr='#e11921',GradientType=0)}
.color-landing-banorte{color:#ae1316}
.img-aseguradora-banorte{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/banorte-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-gnp{background:#7f4701;
  background:-moz-linear-gradient(top,#00448e 50%,#ff8f02 50%);
  background:-webkit-linear-gradient(top,#00448e 50%,#ff8f02 50%);
  background:linear-gradient(to bottom,#00448e 50%,#ff8f02 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00448E',endColorstr='#ff8f02',GradientType=0)}
.color-landing-gnp{color:#00448e}
.img-aseguradora-gnp{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/gnp-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-mapfre{background:#A72535;
  background:-moz-linear-gradient(top,#A72535 50%,#ff001c 50%);
  background:-webkit-linear-gradient(top,#A72535 50%,#ff001c 50%);
  background:linear-gradient(to bottom,#A72535 50%,#ff001c 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F010D',endColorstr='#ff021b',GradientType=0)}
.color-landing-mapfre{color:#A72535}
.img-aseguradora-mapfre{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/mapfre-seguros-de-autos-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-sura{background:#00606b;
  background:-moz-linear-gradient(top,#00606b 50%,#00b3cb 50%);
  background:-webkit-linear-gradient(top,#00606b 50%,#00b3cb 50%);
  background:linear-gradient(to bottom,#00606b 50%,#00b3cb 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00606B',endColorstr='#00b3cb',GradientType=0)}
.color-landing-sura{color:#00606b}
.img-aseguradora-sura{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/sura-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-afirme{background:#004006;
  background:-moz-linear-gradient(top,#004006 50%,#009e10 50%);
  background:-webkit-linear-gradient(top,#004006 50%,#009e10 50%);
  background:linear-gradient(to bottom,#004006 50%,#009e10 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004006',endColorstr='#009e10',GradientType=0)}
.color-landing-afirme{color:#004006}
.img-aseguradora-afirme{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/afirme-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-axa{background:#004c9c;
  background:-moz-linear-gradient(top,#004c9c 50%,#007cff 50%);
  background:-webkit-linear-gradient(top,#004c9c 50%,#007cff 50%);
  background:linear-gradient(to bottom,#004c9c 50%,#007cff 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004c9c',endColorstr='#007CFF',GradientType=0)}
.color-landing-axa{color:#004c9c;}
.img-aseguradora-axa{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/axa-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-el-aguila{background:#023b81;
  background:-moz-linear-gradient(top,#023b81 50%,#0475ff 50%);
  background:-webkit-linear-gradient(top,#023b81 50%,#0475ff 50%);
  background:linear-gradient(to bottom,#023b81 50%,#0475ff 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#023b81',endColorstr='#0475FF',GradientType=0)}
.color-landing-el-aguila{color:#023b81}
.img-aseguradora-el-aguila{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/el-aguila-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}


.background-color-landing-multiva{background:#7f1102;
  background:-moz-linear-gradient(top,#7f1102 50%,#e21e04 50%);
  background:-webkit-linear-gradient(top,#7f1102 50%,#e21e04 50%);
  background:linear-gradient(to bottom,#7f1102 50%,#e21e04 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F1102',endColorstr='#E21E04',GradientType=0)}
.color-landing-multiva{color:#7f1102}
.img-aseguradora-multiva{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/multiva-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-zurich{background:#00206f;
  background:-moz-linear-gradient(top,#00206f 50%,#004aff 50%);
  background:-webkit-linear-gradient(top,#00206f 50%,#004aff 50%);
  background:linear-gradient(to bottom,#00206f 50%,#004aff 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00206f',endColorstr='#004AFF',GradientType=0)}
.color-landing-zurich{color:#00206f}
.img-aseguradora-zurich{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/zurich-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-aig{background:#163040;
  background:-moz-linear-gradient(top,#163040 50%,#4ca3d9 50%);
  background:-webkit-linear-gradient(top,#163040 50%,#4ca3d9 50%);
  background:linear-gradient(to bottom,#163040 50%,#4ca3d9 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#163040',endColorstr='#4CA3D9',GradientType=0)}
.color-landing-aig{color:#163040}
.img-aseguradora-aig{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/aig-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-banamex{background:#004785;
  background:-moz-linear-gradient(top,#004785 50%,#0A1C38 50%);
  background:-webkit-linear-gradient(top,#004785 50%,#0A1C38 50%);
  background:linear-gradient(to bottom,#004785 50%,#0A1C38 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F0000',endColorstr='#FF0000',GradientType=0)}
.color-landing-banamex{color:#004785}
.img-aseguradora-banamex{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/banamex-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-el-potosi{background:#7f1014;
  background:-moz-linear-gradient(top,#7f1014 50%,#d41b21 50%);
  background:-webkit-linear-gradient(top,#7f1014 50%,#d41b21 50%);
  background:linear-gradient(to bottom,#7f1014 50%,#d41b21 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F1014',endColorstr='#d41b21',GradientType=0)}
.color-landing-el-potosi{color:#7f1014}
.img-aseguradora-el-potosi{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/el-potosi-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-qualitas{background:#762480;
  background:-moz-linear-gradient(top,#762480 50%,#179c95 50%);
  background:-webkit-linear-gradient(top,#762480 50%,#179c95 50%);
  background:linear-gradient(to bottom,#762480 50%,#179c95 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#762480',endColorstr='#179C95',GradientType=0)}
.color-landing-qualitas{color:#762480}
.img-aseguradora-qualitas{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/hdi-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/**/
.background-color-landing-ana{background:#7f081a;
  background:-moz-linear-gradient(top,#7f081a 50%,#ff1135 50%);
  background:-webkit-linear-gradient(top,#7f081a 50%,#ff1135 50%);
  background:linear-gradient(to bottom,#7f081a 50%,#ff1135 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F081A',endColorstr='#ff1135',GradientType=0)}
.color-landing-ana{color:#7f081a}
.img-aseguradora-ana{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/ana-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/**/
.background-color-landing-bancomer{background:#003886;
  background:-moz-linear-gradient(top,#003886 50%,#459dd4 50%);
  background:-webkit-linear-gradient(top,#003886 50%,#459dd4 50%);
  background:linear-gradient(to bottom,#003886 50%,#459dd4 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#003886',endColorstr='#459dd4',GradientType=0)}
.color-landing-bancomer{color:#003886}
.img-aseguradora-bancomer{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/hdi-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/**/
.background-color-landing-general-de-seguros{background:#004c9a;
  background:-moz-linear-gradient(top,#004c9a 50%,#0071e5 50%);
  background:-webkit-linear-gradient(top,#004c9a 50%,#0071e5 50%);
  background:linear-gradient(to bottom,#004c9a 50%,#0071e5 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004c9a',endColorstr='#0071E5',GradientType=0)}
.color-landing-general-de-seguros{color:#004c9a}
.img-aseguradora-general-de-seguros{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/general-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}

.background-color-landing-inbursa{background:#002764;
  background:-moz-linear-gradient(top,#002764 50%,#005ae5 50%);
  background:-webkit-linear-gradient(top,#002764 50%,#005ae5 50%);
  background:linear-gradient(to bottom,#002764 50%,#005ae5 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#002764',endColorstr='#005AE5',GradientType=0)}
.color-landing-inbursa{color:#002764}
.img-aseguradora-inbursa{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/inbursa-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/**/
.background-color-landing-seguros-santander{background:#7f0f13;
  background:-moz-linear-gradient(top,#7f0f13 50%,#ed1c24 50%);
  background:-webkit-linear-gradient(top,#7f0f13 50%,#ed1c24 50%);
  background:linear-gradient(to bottom,#7f0f13 50%,#ed1c24 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F0F13',endColorstr='#ed1c24',GradientType=0)}
.color-landing-seguros-santander{color:#7f0f13}
.img-aseguradora-santander{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/hdi-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/**/
.background-color-landing-general-de-seguros{background:#004c9a;
  background:-moz-linear-gradient(top,#004c9a 50%,#0071e5 50%);
  background:-webkit-linear-gradient(top,#004c9a 50%,#0071e5 50%);
  background:linear-gradient(to bottom,#004c9a 50%,#0071e5 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004c9a',endColorstr='#0071E5',GradientType=0);}
.color-landing-general-de-seguros{color:#004c9a;}
/**/
.background-color-landing-la-latino-seguros{background:#0088af;
  background:-moz-linear-gradient(top,#005f7a 50%,#0088af 50%);
  background:-webkit-linear-gradient(top,#005f7a 50%,#0088af 50%);
  background:linear-gradient(to bottom,#005f7a 50%,#0088af 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005F7A',endColorstr='#0088af',GradientType=0)}
.color-landing-la-latino-seguros{color:#005f7a;}
.img-aseguradora-la-latino-seguros{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/la-latino-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/**/
.background-color-landing-seguros-vepormas{background:#bdce2a;
  background:-moz-linear-gradient(top,#bdce2a 50%,#d8d8d8 50%);
  background:-webkit-linear-gradient(top,#bdce2a 50%,#d8d8d8 50%);
  background:linear-gradient(to bottom,#bdce2a 50%,#d8d8d8 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005F7A',endColorstr='#0088af',GradientType=0)}
.color-landing-seguros-vepormas{color:#bdce2a;}
.p-landing-seguros-vepormas{color:#00661f;display:none;}
.img-aseguradora-vepormas{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/vepormas-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/**/
.background-color-landing-miituo{background:#00C8FF;
  background:-moz-linear-gradient(top,#00C8FF 50%,#fff 50%);
  background:-webkit-linear-gradient(top,#00C8FF 50%,#fff 50%);
  background:linear-gradient(to bottom,#00C8FF 50%,#fff 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00C8FF',endColorstr='#fff',GradientType=0)}
.color-landing-miituo{color:#00C8FF;}
.d-none-miituo{display:none!important;}
.p-landing-miituo{color:#00C8FF;display:none;}
.img-aseguradora-miituo{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/miituo-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/**/
/**/
.background-color-landing-primero-seguros{background:#2366f0;
  background:-moz-linear-gradient(top,#2366f0 50%,#F1F1F3 50%);
  background:-webkit-linear-gradient(top,#2366f0 50%,#459dd4 50%);
  background:linear-gradient(to bottom,#2366f0 50%,#F1F1F3 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2366f0',endColorstr='#F1F1F3',GradientType=0)}
.color-landing-primero-seguros{color:#2366f0;}
.img-aseguradora-primero-seguros{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/primero-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/**/
/**/
.background-color-landing-migo{background:#ff0958;
  background:-moz-linear-gradient(top,#ff0958 50%,#fff 50%);
  background:-webkit-linear-gradient(top,#ff0958 50%,#fff 50%);
  background:linear-gradient(to bottom,#ff0958 50%,#fff 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0958',endColorstr='#fff',GradientType=0)}
.color-landing-migo{color:#ff0958;}
.d-none-migo{display:none!important;}
.p-landing-migo{color:#ff0958;display:none;}
.img-aseguradora-migo{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/migo-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/**/
.background-color-landing-uber{background:#00222d;
  background:-moz-linear-gradient(top,#00222d 50%,#fff 50%);
  background:-webkit-linear-gradient(top,#00222d 50%,#fff 50%);
  background:linear-gradient(to bottom,#00222d 50%,#fff 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00222d',endColorstr='#fff',GradientType=0)}
.color-landing-uber{color:#00222d;}
.p-landing-uber{color:#00222d;display:none;}
/*.imgs-aseguradora-uber{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../imgs/contenido/2019/uber-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}*/
.img-aseguradora-uber{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/uber-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/**/
/*<----ESTA PARA QUE ES??*/
/**/

/**/
.p-landing-aba{display:inline;}
.p-landing-afirme{display:none;}
.p-landing-aig{color:#00661f;display:none;}
.p-landing-ana{color:#00661f;display:none;}
.p-landing-atlas{color:#00661f;display:none;}
.p-landing-axa{color:#004c9c;display:none;}
.p-landing-banamex{color:#00661f;display:none;}
.p-landing-bancomer{color:#00661f;display:none;}
.p-landing-banorte{color:#00661f;display:none;}
.p-landing-chubb{color:#00661f;display:none;}
.p-landing-el-aguila{color:#00661f;display:none;}
.p-landing-el-potosi{color:#00661f;display:none;}
.p-landing-general-de-seguros{color:#00661f;display:none;}
.p-landing-gnp{color:#00661f;display:none;}
.p-landing-hdi{color:#00661f;display:none;}
.p-landing-inbursa{color:#00661f;display:none;}
.p-landing-mapfre{color:#00661f;display:none;}
.p-landing-multiva{color:#00661f;display:none;}
.p-landing-primero-seguros{color:#00661f;display:none;}
.p-landing-qualitas{color:#00661f;display:none;}
.p-landing-seguros-santander{color:#00661f;display:none;}
.p-landing-sura{color:#00661f;display:none;}
.p-landing-uber{color:#00661f;display:none;}
.p-landing-zurich{color:#00661f;display:none;}
.style_p{color:#aeaeae;text-transform: uppercase;font-size: 0.7rem;padding: 10px 0px;float: left;}
.astesrik{font-size: 30px;float: right;}
/**/
.h1-landing-bancomer{display:block!important;}
.d-none-landing-bancomer{display:none!important;}
/**/
.background-color-landing-seguros-para-taxis{background:#00a8d8;
  background:-webkit-linear-gradient(#00a8d8 50%, #e9f8fc 50%);
  background:-o-linear-gradient(#00a8d8 50%, #e9f8fc 50%);
  background:linear-gradient(#00a8d8 50%, #e9f8fc 50%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a8d8',endColorstr='#e9f8fc',GradientType=0)}
.color-landing-seguros-para-taxis{color:#00a8d8!important;}
.background-landing-seguros-para-taxis{background-color:transparent!important;background-size:450px;background-position:-50px 30px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/auto-seguros-para-taxis.svg")}

/**/
.background-color-landing-chubb{background:#00bcf3;
  background:-webkit-linear-gradient(#00bcf3 50%, #e9f8fc 50%);
  background:-o-linear-gradient(#00bcf3 50%, #e9f8fc 50%);
  background:linear-gradient(#00bcf3 50%, #e9f8fc 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bcf3',endColorstr='#e9f8fc',GradientType=0)}
.color-landing-chubb{color:#00bcf3!important;}
.img-aseguradora-chubb{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/aba-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
/*.background-landing-chubb{background-color:transparent!important;
		background-size:initial;
		background-position:left bottom;
		background-repeat:no-repeat;
		background-image:url("../imgs/banner/banner-seguros-hdi.png")}*/
/**/
.background-color-landing-seguro-para-didi{background:#ff8041;
  background:-webkit-linear-gradient(#ff8041 50%, #e9f8fc 50%);
  background:-o-linear-gradient(#ff8041 50%, #e9f8fc 50%);
  background:linear-gradient(#ff8041 50%, #e9f8fc 50%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8041',endColorstr='#e9f8fc',GradientType=0)}
.color-landing-seguro-para-didi{color:#ff8041!important;}
.img-aseguradora-didi{background-color:transparent!important;background-size:contain;background-position:0px 0px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/didi-seguros-de-auto-ahorraseguros.svg");width:auto;height:400px;}
.background-landing-seguro-para-didi{background-color:transparent!important;background-size:350px;background-position:30px 165px;background-repeat:no-repeat;background-image:url("../static/img/contenido/2019/auto-normal.svg")}
/*.background-landing-seguro-para-didi{background-color:transparent!important;background-size:350px;background-position:30px 165px;background-repeat:no-repeat;background-image:url("../imgs/contenido/2019/auto-normal-prebuenfin.svg")}*/
/**/
li#menu-item-15625::after{content:'nuevo';display:block;}
span.pussy{position:absolute;float:left;top:-10px;right:160px;
  text-align:center;text-transform:uppercase;font-size:8px !important;
  padding:0px 6px;background:#4bd54b;color:#fff!important;border-radius:7px;line-height:2.3;}
/**/
.modal-icon-leo{width:110px;height:auto;display:block;margin:0 auto;}
.card-body-ajustes-promo{padding:0.25rem;}
/**/
/**//**//**/
#return-to-top {position:fixed;bottom: 20px;right: 20px;background-color:#ffffff;width:150px;height: 50px;display:none;text-decoration: none;-webkit-border-radius: 35px;-moz-border-radius: 35px;border-radius: 35px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;padding:10px 5px;text-align:center;padding:10px 0;border:2px solid;}
#return-to-top:hover {background:#dadada;}
/*#return-to-top .centradito {margin: 0;position: relative;left: 16px;top: 13px;font-size: 19px;-webkit-transition:all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}*/
/*#return-to-top:hover .centradito {top: 5px;}*/
/*#return-to-top-text .centradito {margin: 0;position: relative;left: 16px;top: 13px;font-size: 19px;-webkit-transition:all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}*/
/*#return-to-top-text:hover {background:#dadada;}#return-to-top-text:hover .centradito {top: 5px;}*/
/**//**//**/
/*vue*/
fieldset[disabled] .multiselect{pointer-events:none}.multiselect__spinner{position:absolute;right:1px;top:1px;width:48px;height:35px;background:#fff;display:block}.multiselect__spinner:after,.multiselect__spinner:before{position:absolute;content:"";top:50%;left:50%;margin:-8px 0 0 -8px;width:16px;height:16px;border-radius:100%;border:2px solid transparent;border-top-color:#044f99;box-shadow:0 0 0 1px transparent}.multiselect__spinner:before{animation:spinning 2.4s cubic-bezier(.41,.26,.2,.62);animation-iteration-count:infinite}.multiselect__spinner:after{animation:spinning 2.4s cubic-bezier(.51,.09,.21,.8);animation-iteration-count:infinite}.multiselect__loading-enter-active,.multiselect__loading-leave-active{transition:opacity .4s ease-in-out;opacity:1}.multiselect__loading-enter,.multiselect__loading-leave-active{opacity:0}.multiselect,.multiselect__input,.multiselect__single{font-family:inherit;font-size:16px;-ms-touch-action:manipulation;touch-action:manipulation}.multiselect{box-sizing:content-box;display:block;position:relative;width:100%;min-height:40px;text-align:left;color:#35495e}.multiselect *{box-sizing:border-box}.multiselect:focus{outline:none}.multiselect--disabled{background:#ededed;pointer-events:none;opacity:.6}.multiselect--active{z-index:50}.multiselect--active:not(.multiselect--above) .multiselect__current,.multiselect--active:not(.multiselect--above) .multiselect__input,.multiselect--active:not(.multiselect--above) .multiselect__tags{border-bottom-left-radius:0;border-bottom-right-radius:0}.multiselect--active .multiselect__select{transform:rotate(180deg)}.multiselect--above.multiselect--active .multiselect__current,.multiselect--above.multiselect--active .multiselect__input,.multiselect--above.multiselect--active .multiselect__tags{border-top-left-radius:0;border-top-right-radius:0}.multiselect__input,.multiselect__single{position:relative;display:inline-block;min-height:20px;line-height:20px;border:none;border-radius:5px;background:#fff;padding:0 0 0 5px;width:100%;transition:border .1s ease;box-sizing:border-box;margin-bottom:8px;vertical-align:top}.multiselect__input:-ms-input-placeholder{color:#35495e}.multiselect__input::placeholder{color:#35495e}.multiselect__tag~.multiselect__input,.multiselect__tag~.multiselect__single{width:auto}.multiselect__input:hover,.multiselect__single:hover{border-color:#cfcfcf}.multiselect__input:focus,.multiselect__single:focus{border-color:#a8a8a8;outline:none}.multiselect__single{padding-left:5px;margin-bottom:8px}.multiselect__tags-wrap{display:inline}.multiselect__tags{min-height:40px;display:block;padding:8px 40px 0 8px;border-radius:5px;border:1px solid #e8e8e8;background:#fff;font-size:14px}.multiselect__tag{position:relative;display:inline-block;padding:4px 26px 4px 10px;border-radius:5px;margin-right:10px;color:#fff;line-height:1;background:#044f99;margin-bottom:5px;white-space:nowrap;overflow:hidden;max-width:100%;text-overflow:ellipsis}.multiselect__tag-icon{cursor:pointer;margin-left:7px;position:absolute;right:0;top:0;bottom:0;font-weight:700;font-style:normal;width:22px;text-align:center;line-height:22px;transition:all .2s ease;border-radius:5px}.multiselect__tag-icon:after{content:"\D7";color:#266d4d;font-size:14px}.multiselect__tag-icon:focus,.multiselect__tag-icon:hover{background:#369a6e}.multiselect__tag-icon:focus:after,.multiselect__tag-icon:hover:after{color:#fff}.multiselect__current{min-height:40px;overflow:hidden;padding:8px 30px 0 12px;white-space:nowrap;border-radius:5px;border:1px solid #e8e8e8}.multiselect__current,.multiselect__select{line-height:16px;box-sizing:border-box;display:block;margin:0;text-decoration:none;cursor:pointer}.multiselect__select{position:absolute;width:40px;height:38px;right:1px;top:1px;padding:4px 8px;text-align:center;transition:transform .2s ease}.multiselect__select:before{position:relative;right:0;top:65%;color:#999;margin-top:4px;border-color:#999 transparent transparent;border-style:solid;border-width:5px 5px 0;content:""}.multiselect__placeholder{color:#adadad;display:inline-block;margin-bottom:10px;padding-top:2px}.multiselect--active .multiselect__placeholder{display:none}.multiselect__content-wrapper{position:absolute;display:block;background:#fff;width:100%;max-height:240px;overflow:auto;border:1px solid #e8e8e8;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;z-index:50;-webkit-overflow-scrolling:touch}.multiselect__content{list-style:none;display:inline-block;padding:0;margin:0;min-width:100%;vertical-align:top}.multiselect--above .multiselect__content-wrapper{bottom:100%;border-bottom-left-radius:0;border-bottom-right-radius:0;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom:none;border-top:1px solid #e8e8e8}.multiselect__content webkit-scrollbar{display:none}.multiselect__element{display:block}.multiselect__option{display:block;padding:12px;min-height:40px;line-height:16px;text-decoration:none;text-transform:none;vertical-align:middle;position:relative;cursor:pointer;white-space:nowrap}.multiselect__option:after{top:0;right:0;position:absolute;line-height:40px;padding-right:12px;padding-left:20px;font-size:13px}.multiselect__option--highlight{background:#044f99;outline:none;color:#fff}.multiselect__option--highlight:after{content:attr(data-select);background:#044f99;color:#fff}.multiselect__option--selected{background:#f3f3f3;color:#35495e;font-weight:700}.multiselect__option--selected:after{content:attr(data-selected);color:silver}.multiselect__option--selected.multiselect__option--highlight{background:#ff6a6a;color:#fff}.multiselect__option--selected.multiselect__option--highlight:after{background:#ff6a6a;content:attr(data-deselect);color:#fff}.multiselect--disabled .multiselect__current,.multiselect--disabled .multiselect__select{background:#ededed;color:#a6a6a6}.multiselect__option--disabled{background:#ededed!important;color:#a6a6a6!important;cursor:text;pointer-events:none}.multiselect__option--group{background:#ededed;color:#35495e}.multiselect__option--group.multiselect__option--highlight{background:#35495e;color:#fff}.multiselect__option--group.multiselect__option--highlight:after{background:#35495e}.multiselect__option--disabled.multiselect__option--highlight{background:#dedede}.multiselect__option--group-selected.multiselect__option--highlight{background:#ff6a6a;color:#fff}.multiselect__option--group-selected.multiselect__option--highlight:after{background:#ff6a6a;content:attr(data-deselect);color:#fff}.multiselect-enter-active,.multiselect-leave-active{transition:all .15s ease}.multiselect-enter,.multiselect-leave-active{opacity:0}.multiselect__strong{margin-bottom:8px;line-height:20px;display:inline-block;vertical-align:top}[dir=rtl] .multiselect{text-align:right}[dir=rtl] .multiselect__select{right:auto;left:1px}[dir=rtl] .multiselect__tags{padding:8px 8px 0 40px}[dir=rtl] .multiselect__content{text-align:right}[dir=rtl] .multiselect__option:after{right:auto;left:0}[dir=rtl] .multiselect__clear{right:auto;left:12px}[dir=rtl] .multiselect__spinner{right:auto;left:1px}@keyframes spinning{0%{transform:rotate(0)}to{transform:rotate(2turn)}}
.multiselect__tags{background:#f0f0f0;background-color:#f0f0f0;}
.multiselect__placeholder{color:#495057;display:inline-block;margin-bottom:10px;padding-top:2px;}
/**/
.border-success{border-color:#d9f7e1!important;}
.border-success-ligth{border:1px solid #d9f7e1!important;}
/*COLORES DE FONDO POR ASEG*/
/*HDI*/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
.bgcolors-landing-hdi{background:#006729;}
.bgcolors-landing-aba{background:#0088af;}
.bgcolors-landing-atlas{background:#ae141e;}
.bgcolors-landing-banorte{background:#ae1316;}
.bgcolors-landing-gnp{background:#ff8f02;}
.bgcolors-landing-mapfre{background:#A72535;}
.bgcolors-landing-sura{background:#00606b;}
.bgcolors-landing-afirme{background:#004006;}
.bgcolors-landing-migo{background:#004006;}
.bgcolors-landing-axa{background:#004c9c;}
.bgcolors-landing-el-aguila{background:#023b81;}
.bgcolors-landing-multiva{background:#7f1102;}
.bgcolors-landing-zurich{background:#00206f;}
.bgcolors-landing-aig{background:#163040;}
.bgcolors-landing-banamex{background:#004785;}
.bgcolors-landing-el-potosi{background:#7f1014;}
.bgcolors-landing-qualitas{background:#762480;}
.bgcolors-landing-ana{background:#7f081a;}
.bgcolors-landing-bancomer{background:#003886;}
.bgcolors-landing-general-de-seguros{background:#004c9a;}
.bgcolors-landing-inbursa{background:#002764;}
.bgcolors-landing-seguros-santander{background:#7f0f13;}
.bgcolors-landing-general-de-seguros{background:#004c9a;}
.bgcolors-landing-la-latino-seguros{background:#0088af;}
.bgcolors-landing-seguros-vepormas{background:#bdce2a;}
.bgcolors-color-landing-miituo{background:#00C8FF;}
.bgcolors-landing-primero-seguros{background:#2366f0;}
/*.bgcolors-landing-uber{background:#00222d;}*/
.bgcolors-landing-seguros-para-taxis{background:#00a8d8;}
.bgcolors-landing-chubb{background:#00bcf3;}
.bgcolors-landing-seguro-para-didi{background:#ff8041;}
.bgcolors-landing-chubb{background-image: linear-gradient(270deg,#ff0958,#ff0958 45%,#fff 0);
}/*<----ESTAs PARA QUE SON??*/

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/










