<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 d-inline d-md-none ">
        <img :src="require(`static/img/aseguradora-pe/${this.$store.state.config.imga}.png`)" alt="logo" class="icon">
      </div>
      <div class="d-none d-md-block col-md-5 over">
        <div class="f-moradag"></div>
        <div class="row">
          <div class="col-12 col-md-6  ">
            <img src="img/bn/qualitas.svg" alt="logo" class="icon">
          </div>
        </div>
        <img class="i-grac" src="/img/carro-gracias.svg" alt="carro gracias">
      </div>
      <div class="col-12 col-md-7 ">
        <p class="usuario" id="qualitassegurospe">Hola {{$store.state.formData.nombre}},
        <h3 class="t-morag">encontramos el mejor precio de tu seguro vehicular para tu <span class="borde">{{$store.state.formData.marca}}  {{$store.state.formData.modelo}}  {{$store.state.formData.descripcion}}</span> </h3>

        <div class="row my-4">
          <div class="col-10 fichag py-3 py-md-0 py-lg-3  m-auto">
            <div class="row">
              <div class="d-none d-md-block col-md-4 ">
                <img src="img/color/qualitas.svg" alt="logo"  class="icon" >
              </div>
              <div class="col-6 col-md-4 py-md-2 py-lg-0 text-center">
                <strong class="m-precio mt-md-2"> {{$store.state.cotizacion.primaTotal | currency}} USD</strong>
              </div>
              <div class="col-6 col-md-4 py-md-2 py-lg-0">
                <img src="img/riesgo.svg" alt="todo riesgo" class="riesgo" ><span class="t-riesgo"> Todo Riesgo</span>
              </div>
            </div>
          </div>
        </div>
        <h3 class="t-morag">Un asesor de {{this.$store.state.auto[this.$store.state.config.imga].nam}} se comunicará contigo a la brevedad para asesorarte.</h3>
        <p>*El precio mostrado está  sujeto a cambios y condiciones de contratación.</p>
      </div>

      <div class="d-md-none col-12 over">
        <div class="f-moradag"></div>
        <img class="i-grac" src="/img/carro-gracias.svg" alt="">
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "gracias",
        data(){
          return {
            sinAseguradora: false
          }
        },
        created: function () {
            // Cotizacion
            var url = this.$route.path;
            let aseguradora = url.split('/')

            this.$store.state.config.imga = aseguradora[1]
            if (this.$store.state.formData.nombre != "") {
                this.$store.state.config.loading = true;
                // console.log('chido')
                if (this.$store.state.config.cotizacion) {
                  this.$store.commit("cotizar");
                } else {
                  this.$store.commit("saveData");
                }
            } else {
              this.$router.push(`/${aseguradora[1]}`);
              // this.$router.replace({path: "/error/"});
            }
        },
    }
</script>

<style scoped>

</style>
