<template>
  <div>
    <hdi v-if="hdi"></hdi>
    <qualitas v-else-if="qualitas"></qualitas>
    <mapfre v-else-if="mapfre"></mapfre>
    <not-found v-else-if="notFound"></not-found>
  </div>

</template>

<script>
  import hdi from '~/components/TemplateHDI.vue'
  import qualitas from '~/components/TemplateQualitas.vue'
  import mapfre from '~/components/TemplateMapfre.vue'
  import notFound from '~/components/TemplateNotFound.vue'
    export default {
        name: "index.vue",
        data(){
          return {
            hdi: false,
            qualitas: false,
            mapfre: false,
            notFound: false
          }
        },
        components: {
          hdi,
          qualitas,
          mapfre,
          notFound
        },
        created() {
          var path = this.$route.path
          if (path.toLowerCase() == '/hdi')
            this.hdi = true;

          if (path.toLowerCase() == '/qualitas')
            this.qualitas = true;

          if (path.toLowerCase() == '/mapfre')
            this.mapfre = true;

          if (path.toLowerCase() == '/la-positiva')
            this.mapfre = true;

          if (path.toLowerCase() == '/pacifico')
            this.mapfre = true;

          if (path.toLowerCase() == '/rimac')
            this.mapfre = true;

          var aseg = path.toLowerCase()
          this.$store.state.config.aseguradora = aseg.split('/');

          var rutasPermitidas = ['/hdi', '/qualitas', '/mapfre', '/la-positiva', '/pacifico', '/rimac',
                                  '/hdi/gracias', '/qualitas/gracias', '/mapfre/gracias', '/la-positiva/gracias', '/pacifico/gracias', '/rimac/gracias',
                                  '/hdi/facebook', '/qualitas/facebook', '/mapfre/facebook'];

          if( !rutasPermitidas.includes(path.toLowerCase())){
            this.$store.state.config.notFound = true;
            this.notFound = true
          }

        }
    }
</script>

<style scoped>

</style>
