<template>
  <div>
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body card-body-ajustes-promo">
          <div class="container">
            <div class="w-100"></div>
            <div class="row line-height-1">
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <img src="~/static/img/contenido/2019/icons/icons-msi.svg" alt="HDI seguros"
                     class="img-fluid height90">
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <img src="~/static/img/contenido/2019/icons/icons-mejor.svg" alt="Seguros de autos HDI"
                     class="img-fluid height90">
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <img src="~/static/img/contenido/2019/icons/icons-recibe.svg" alt="HDI Seguros Autos"
                     class="img-fluid height90">
              </div>
              <div class="w-100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media">
              <img class="mr-2" :src="require(`~/static/img/aseguradora/${this.$store.state.config.aseguradora}.png`)" height="50px"
                   alt="Seguro de auto"/>
              <div class="media-body">
                <h2 class="mt-0 display-5">
                  <strong :class="`color-landing-${this.$store.state.config.imga}`">¡Asegura tu auto con {{ this.$store.state.auto[this.$store.state.config.imga].nam }} Seguros!
                  </strong> ¡En AhorraSeguros.Mx te contamos!
                  <span class="text-muted font-size-1-5-rem d-none">Ahorra Seguros.Mx</span>
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 align-items-center">
                <p class="text-justify">
                  Caracterizada por ser una de las aseguradoras más eficientes en el sector asegurador, HDI es una compañía que desde su llegada a nuestro país se ha destacado principalmente por la innovación que ofrece a través de sus seguros de auto, los cuales contemplan de toda la atención que sus clientes necesitan.
                </p>
                <p class="text-justify">
                  HDI Seguros pertenece a Talanx, uno de los grupos financieros más importantes y poderosos a nivel mundial, todo esto gracias al poder financiero que distribuye entre todas sus marcas con la finalidad de brindarle el respaldo a sus asegurados contra cualquier riesgo, razón por la que HDI se ha catalogado como una de las mejores compañías en México.
                </p>
                <p class="text-justify">
                  Y es que Aseguradora HDI opera en toda la República Mexicana en los sectores de seguros para autos residentes y turistas, además de sus seguros de vida, gastos médicos, entre otros. En cada uno de estos se posiciona como una de las mejores, pues al menos en nuestro país se ha destacado principalmente con sus pólizas para autos.
                </p>
                <p class="text-justify">
                  Contratar un Seguro de Autos HDI te da la seguridad de saberte protegido ante cualquier inconveniente, pues se ha consolidado como una de las mejores compañías, principalmente por la confianza otorgada a cada uno de sus clientes, en donde podrás transitar por cualquier lugar del país con la sensación de saberte protegido.
                </p>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-5 align-middle align-self-center ">
                <div :class="`img-aseguradora-${this.$store.state.config.imga}`"></div>
                <!-- <imgs class="imgs-fluid gira-x" src="{{asset('imgs/contenido/carahorra.svg')}}" alt="Seguro de auto" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media">
              <div class="media-body">
                <h2 class="mt-0 display-5">
                  <strong :class="`color-landing-${this.$store.state.config.imga}`">Con {{this.$store.state.auto[this.$store.state.config.imga].nam}} Seguros de Auto recibes la protección ideal.
                  </strong>
                  <span class="text-muted font-size-1-5-rem d-none">Ahorra Seguros.Mx</span>
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  En Ahorra Seguros sabemos lo importante que se vuelve un seguro de auto, principalmente cuando tomamos en cuenta todos los servicios que podrás recibir y que estarán a tu disposición en el momento que más lo necesites, así es como HDI te ofrece una de las pólizas más completas del mercado, con coberturas que garanticen tu seguridad, y para que te informes un poco más, aquí te los contamos:
                </p>
                <ul class="fa-ul text-justify">
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <strong>Auto Sustituto:</strong> Con una duración por hasta 30 días, en este servicio HDI Seguros pone a tu disposición un vehículo en caso de una detención legal, fallas mecánicas o por la pérdida total y/o parcial, este puede sedán, hatchback o el que esté disponible. Cabe mencionar que este puede utilizarse durante el total de los días, o repartirlos por distintos periodos.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <b>0% Deducible:</b>Destacándose por ser una cobertura en caso que el tercero con quien ocurra el accidente no cuente con un seguro, una vez activado este servicio no pagarás deducible, además que la responsabilidad será clasificada, mientras que no es necesario contar con un peritaje de causalidad.

                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <b>Asistencia Vial:</b>  Reconocida por ser una de las más destacadas a nivel nacional, la asistencia vial de HDI Seguros de Auto no pone ningún tipo de límite en sus eventos, brindándote una atención para la revisión de tus frenos, balanceos, alineación, chequeo de amortiguadores, niveles en sus líquidos y en luces, además que todo esto es en talleres o agencias certificadas, incluyendo el envío de gasolina, pasa de corriente, arrastre de grúa, etc.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <b>Protección a Llantas y Rines:</b> Tal como su nombre lo indica, este es un servicio que ofrece la cobertura en la reparación o sustitución de cualquier llanta o rin de tu automóvil, a causa de los daños por un accidente o por desgaste, mientras que sus reemplazos serán con las mismas características para no perder su esencia, con un máximo de 4 sustituciones de llantas y rines hasta la vigencia de la póliza, sin duda es uno de los más llamativos considerando tu tranquilidad.
                  </li>
                </ul>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-middle align-self-center ">
                <!--  <div class="imgs-aseguradora-{{session('landing')}}"></div> -->
                <!-- <imgs class="imgs-fluid gira-x" src="{{asset('imgs/contenido/carahorra.svg')}}" alt="Seguro de auto" /> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media">
              <div class="media-body">
                <h2 class="mt-0 display-5">
                  <strong :class="`color-landing-${this.$store.state.config.imga}`"> Conoce Todas las coberturas con Seguros de Auto {{this.$store.state.auto[this.$store.state.config.imga].nam}}
                  </strong>
                  <span class="text-muted font-size-1-5-rem d-none">Ahorra Seguros.Mx</span>
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  Sin duda alguna este es uno de los puntos más importantes del que debes estar al tanto, principalmente por las opciones que HDI Seguros tiene para ti y para el cuidado de tu vehículo, sin embargo todas estas mantienen una diferencia puntual que se basa en los servicios que podrás recibir.
                </p>
                <p class="text-justify">
                  Y para que conozcas un poco más de sus coberturas, en AhorraSeguros.Mx te las mostramos:
                </p>
                <div class="table-responsive">
                  <table class="table table-sm table-striped table-hover">
                    <thead>
                    <tr>
                      <th scope="col">
                        Cobertura
                      </th>
                      <th scope="col">
                        Premier
                      </th>
                      <th scope="col">
                        Estandar
                      </th>
                      <th scope="col">
                        Básica
                      </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">
                        Responsabilidad Civil
                      </th>
                      <td class="text-center align-middle">
                        $3’500,000
                      </td>
                      <td class="text-center align-middle">
                        $2’000,000
                      </td>
                      <td class="text-center align-middle">
                        $1’500,000
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Gastos Médicos
                      </th>
                      <td class="text-center align-middle">
                        $300,000
                      </td>
                      <td class="text-center align-middle">
                        $250,000
                      </td>
                      <td class="text-center align-middle">
                        $200,000
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Asistencia Vehicular
                      </th>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Asistencia Legal
                      </th>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Daños Materiales
                      </th>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;width: 22px;" xml:space="preserve"><style type="text/css">
                    .st0{fill:#E42232;} .st1{fill:none;stroke:#E42232;stroke-width:1.3;stroke-miterlimit:10;}
                  </style><g><path class="st0" d="M10.9,9.9L13,7.8c0.3-0.3,0.3-0.7,0-1c-0.3-0.3-0.7-0.3-1,0L10,9L7.9,6.9c-0.3-0.3-0.7-0.3-1,0
                      c-0.3,0.3-0.3,0.7,0,1L9,9.9L6.9,12c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l2.1-2.1l2.1,2.1c0.3,0.3,0.7,0.3,1,0c0.3-0.3,0.3-0.7,0-1L10.9,9.9z"/><circle class="st1" cx="9.9" cy="9.8" r="8.3"/></g></svg>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">
                        Robo Total
                      </th>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;width: 22px;" xml:space="preserve"><style type="text/css">
                    .st0{fill:#E42232;} .st1{fill:none;stroke:#E42232;stroke-width:1.3;stroke-miterlimit:10;}
                  </style><g><path class="st0" d="M10.9,9.9L13,7.8c0.3-0.3,0.3-0.7,0-1c-0.3-0.3-0.7-0.3-1,0L10,9L7.9,6.9c-0.3-0.3-0.7-0.3-1,0
                      c-0.3,0.3-0.3,0.7,0,1L9,9.9L6.9,12c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l2.1-2.1l2.1,2.1c0.3,0.3,0.7,0.3,1,0c0.3-0.3,0.3-0.7,0-1L10.9,9.9z"/><circle class="st1" cx="9.9" cy="9.8" r="8.3"/></g></svg>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">
                        Vandalismo
                      </th>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Reparación en Agencia
                      </th>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;width: 22px;" xml:space="preserve"><style type="text/css">
                    .st0{fill:#E42232;} .st1{fill:none;stroke:#E42232;stroke-width:1.3;stroke-miterlimit:10;}
                  </style><g><path class="st0" d="M10.9,9.9L13,7.8c0.3-0.3,0.3-0.7,0-1c-0.3-0.3-0.7-0.3-1,0L10,9L7.9,6.9c-0.3-0.3-0.7-0.3-1,0
                      c-0.3,0.3-0.3,0.7,0,1L9,9.9L6.9,12c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l2.1-2.1l2.1,2.1c0.3,0.3,0.7,0.3,1,0c0.3-0.3,0.3-0.7,0-1L10.9,9.9z"/><circle class="st1" cx="9.9" cy="9.8" r="8.3"/></g></svg>
                      </td>
                      <td class="text-center align-middle">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;width: 22px;" xml:space="preserve"><style type="text/css">
                    .st0{fill:#E42232;} .st1{fill:none;stroke:#E42232;stroke-width:1.3;stroke-miterlimit:10;}
                  </style><g><path class="st0" d="M10.9,9.9L13,7.8c0.3-0.3,0.3-0.7,0-1c-0.3-0.3-0.7-0.3-1,0L10,9L7.9,6.9c-0.3-0.3-0.7-0.3-1,0
                      c-0.3,0.3-0.3,0.7,0,1L9,9.9L6.9,12c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l2.1-2.1l2.1,2.1c0.3,0.3,0.7,0.3,1,0c0.3-0.3,0.3-0.7,0-1L10.9,9.9z"/><circle class="st1" cx="9.9" cy="9.8" r="8.3"/></g></svg>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Auto Sustituto
                      </th>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;width: 22px;" xml:space="preserve"><style type="text/css">
                    .st0{fill:#E42232;} .st1{fill:none;stroke:#E42232;stroke-width:1.3;stroke-miterlimit:10;}
                  </style><g><path class="st0" d="M10.9,9.9L13,7.8c0.3-0.3,0.3-0.7,0-1c-0.3-0.3-0.7-0.3-1,0L10,9L7.9,6.9c-0.3-0.3-0.7-0.3-1,0
                      c-0.3,0.3-0.3,0.7,0,1L9,9.9L6.9,12c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l2.1-2.1l2.1,2.1c0.3,0.3,0.7,0.3,1,0c0.3-0.3,0.3-0.7,0-1L10.9,9.9z"/><circle class="st1" cx="9.9" cy="9.8" r="8.3"/></g></svg>
                      </td>
                      <td class="text-center align-middle">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;width: 22px;" xml:space="preserve"><style type="text/css">
                    .st0{fill:#E42232;} .st1{fill:none;stroke:#E42232;stroke-width:1.3;stroke-miterlimit:10;}
                  </style><g><path class="st0" d="M10.9,9.9L13,7.8c0.3-0.3,0.3-0.7,0-1c-0.3-0.3-0.7-0.3-1,0L10,9L7.9,6.9c-0.3-0.3-0.7-0.3-1,0
                      c-0.3,0.3-0.3,0.7,0,1L9,9.9L6.9,12c-0.3,0.3-0.3,0.7,0,1c0.3,0.3,0.7,0.3,1,0l2.1-2.1l2.1,2.1c0.3,0.3,0.7,0.3,1,0c0.3-0.3,0.3-0.7,0-1L10.9,9.9z"/><circle class="st1" cx="9.9" cy="9.8" r="8.3"/></g></svg>
                      </td>
                    <tr>
                      <th scope="row">
                        RC en el Extranjero
                      </th>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-center align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <p class="text-justify">
                    Una vez que puedas apreciar las coberturas que HDI Seguros de Auto tiene para ti, será oportuno que decidas cual es la cobertura que mejor se adapta a tus necesidades, principalmente cuando consideres que tan respaldado estarás en cuestión del robo de tu auto, daños materiales, vehículo sustituto, entre muchas otras opciones.
                  </p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-middle align-self-center ">
                <!--  <div class="imgs-aseguradora-{{session('landing')}}"></div> -->
                <!-- <imgs class="imgs-fluid gira-x" src="{{asset('imgs/contenido/carahorra.svg')}}" alt="Seguro de auto" /> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media">
              <div class="media-body">
                <h3 class="mt-0 display-5">
                  <strong :class="`color-landing-${this.$store.state.config.imga}`"> Servicios con {{this.$store.state.auto[this.$store.state.config.imga].nam}} Seguros de Auto.
                  </strong>
                  <span class="text-muted font-size-1-5-rem d-none">Ahorra Seguros.Mx</span>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <ul class="fa-ul text-justify">
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <strong>Protección a Mascotas:</strong> En caso que viajes con mascotas en tu vehículo, recibirás un monto por hasta $15,000 pesos que servirán para una atención veterinaria, así como para sus gastos funerarios.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <strong>Servicio de Traslado:</strong> Si estás en una reunión, o en algún lugar y se te pasaron las copas, este es un servicio que consta del traslado que requieras a tu domicilio, e incluso al destino que sea mencionado por ti.

                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <strong>Cirugías Estéticas:</strong> Suponiendo que viajes con acompañantes mujeres, este es un servicio que consta de solventar todos los gastos médicos relacionados a cirugías estéticas, entre muchas otras.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <strong>Pago en 2 días:</strong> Ya que tu automóvil sea declarado como pérdida total, y entregues toda la documentación en tiempo y forma, es como se garantizará el pago de tu indemnización vía transferencia electrónica, de no cumplir HDI Seguros de Autos pagará hasta $1,000 pesos por cada día de retraso.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <strong>Hojalateria y Pintura:</strong> Si lo llegas a necesitar, puedes solicitar el servicio de hojalatería o pintura, en donde se te brindan las garantías de calidad para todas estas reparaciones.
                  </li>
                </ul>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-middle align-self-center ">
                <!--  <div class="imgs-aseguradora-{{session('landing')}}"></div> -->
                <!-- <imgs class="imgs-fluid gira-x" src="{{asset('imgs/contenido/carahorra.svg')}}" alt="Seguro de auto" /> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media">
              <div class="media-body">
                <h3 class="mt-0 display-5">
                  <strong :class="`color-landing-${this.$store.state.config.imga}`">¿Cómo funciona el Seguro de Auto Turista {{this.$store.state.auto[this.$store.state.config.imga].nam}}? ¡Te contamos!
                  </strong>
                  <span class="text-muted font-size-1-5-rem d-none">Ahorra Seguros.Mx</span>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  Esta es una cobertura que consta de protección total a los vehículos que transiten con placas extranjeras en nuestro país, brindando el respaldo que contempla desde asistencia vial, asesoría legal y médica, en ella se te respalda en caso de sufrir daños materiales, robos y toda clase de riesgos a los que te expongas.
                </p>
                <p class="text-justify">
                  Para que sepas un poco más sobre las funciones realiza un Seguro de Auto Turista HDI, aquí te contamos:
                </p>
                <ul class="fa-ul text-justify">
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <strong>Vandalismo y Robo Parcial:</strong> Te respalda ante los daños que sean ocasionados a causa del vandalismo, además de cubrir todos estos con hasta 5 mil dólares para estos sucesos, o bien para el robo de autopartes.
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <strong>Uninsured Motorist:</strong> Esta es una función que se basa en brindar los servicios pertinentes en caso que haya un tercero responsable, recibiendo hasta un 50% del límite en la cobertura de gastos médicos.

                  </li>

                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <strong> Extensión de Deducible:</strong> Por su parte la extensión de deducible en el Seguro de Auto Turista HDI, se refiere al supuesto caso en donde el tercero sea el responsable, pero no tenga un seguro y de esta forma se supera el deducible acordado para los riesgos establecidos.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    <strong>Asistencia Vial:</strong> Este se refiere a la atención por neumáticos desinflados, así como al envío de gasolina, además del arrastre con grúa, servicio mecánico, entre muchas otras asistencias.
                  </li>
                </ul>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-middle align-self-center ">
                <!--  <div class="imgs-aseguradora -{{session('landing')}}"></div> -->
                <!-- <imgs class="imgs-fluid gira-x" src="{{asset('imgs/contenido/carahorra.svg')}}" alt="Seguro de auto" /> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>

    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media">
              <div class="media-body">
                <h3 class="mt-0 display-5">
                  <strong :class="`color-landing-${this.$store.state.config.imga}`">
                    Beneficios de un Seguro para Vehículos Turistas.
                  </strong>
                  <span class="text-muted font-size-1-5-rem d-none">Ahorra Seguros.Mx</span>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <ul class="fa-ul text-justify">
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    En caso que tu automóvil esté averiado, sea robado o si sufres algún accidente, te brindará el pago por el transporte que pudieras necesitar, así como cubrir los gastos de hospedaje en hoteles.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Si llegas a necesitar de una atención bilingüe, esta consta de ser gratuita y disponible en todo el país, con disponibilidad las 24 horas, los 365 días del año.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Si te encuentras en Estados Unidos o Canadá y tu vehículo llega a sufrir una falla mecánica, todas las reparaciones serán cubiertas sin importar el tipo de cambio que se tenga en las monedas de dichos países.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Por sufrir el robo de tu vehículo en el extranjero, serán cubiertos todos los gastos de renta, alquiler o el pago de transporte durante un determinado periodo.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Si tu automóvil tiene garantía únicamente en Estados Unidos, HDI se encarga de transportarlo hasta la frontera y así sea llevado a talleres de reparación en aquel país.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Cuentas con derecho a una ambulancia aérea a Estados Unidos y Canadá.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    En tus manos permanece la elección del taller o agencia de reparación.
                  </li>
                </ul>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-middle align-self-center ">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>
    <!--¿Qué te cubre tu Seguro de auto aseguradora?-->
    <!--¿Cómo contratar el Seguro de auto de HDI Seguros?-->
    <!-- <div class="container-fluid px-1 px-sm-2 px-md-4 px-lg-5 px-xl-5"> -->




    <!--¿Que hacer en caso de siniestro?-->
    <!--¿Que hacer en caso de siniestro?-->
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media pb-3">
              <!-- <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h2 class="display-5 mt-0">
                  <strong
                    :class="`color-landing-${this.$store.state.config.imga}`"> Servicios de Asistencia con Aseguradora {{this.$store.state.auto[this.$store.state.config.imga].nam}}
                  </strong>
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <ul class="fa-ul text-justify">

                  <p><strong>Asistencia Vial:</strong></p>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Defensa Legal.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Fianza o Caución.
                  </li>
                  <br>
                  <p><strong>Asistencia Médica:</strong></p>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Traslados médicos vía terrestre.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Ambulancias aéreas a nivel nacional e internacional.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Referencias médicas.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Gastos no previstos.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Asistencia odontológica.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Asistencia para el reemplazo de lentes de contacto.
                  </li>
                  <br>
                  <p><strong>Asistencia Turística:</strong></p>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Coordinación para recibir atención con embajadas y consulados.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Acceso a centros de entretenimiento locales
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Seguro por la pérdida de equipaje.
                  </li>
                  <br>
                  <p><strong>Asistencia Vehicular:</strong></p>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Servicio de grúas.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Auxilio vial
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Referencia para talleres y refaccionarias.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Transporte totalmente cubierto por fallas mecánicas en el vehículo.
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>



    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media pb-3">
              <!-- <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h3 class="display-5 mt-0">
                  <strong
                    :class="`color-landing-${this.$store.state.config.imga}`">¡{{this.$store.state.auto[this.$store.state.config.imga].nam}} Contigo, la app oficial de la aseguradora!
                  </strong>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  Como un parteaguas en la innovación y todo lo que se relaciona con la tecnología, la app de HDI Contigo se encarga de brindar un servicio aún más completo, pues este se presenta para ser la plataforma que respalda a todos sus clientes ante toda clase de riesgos e incidentes en los que te llegues a ver involucrado, además que esta es gratis y se encuentra disponible para todas las tiendas de aplicaciones como Apple Store y Play Store.
                </p>
                <p class="text-justify">
                  Con la aplicación móvil de HDI Seguros podrás realizar muchas funciones, entre las cuales se encuentran:
                </p>
                <ul class="fa-ul text-justify">
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true">
                    </i>
                    La administración y consulta de las pólizas que tengas contratadas, además de revisar todos los servicios a los que accederás con tu Seguro de Auto HDI.
                  </li>

                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"> </i>
                    Recibirás la posibilidad de aclarar todas tus dudas sobre tu contrato, y así este responda a todos tus problemas.

                  </li>

                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"></i>
                    Con un solo botón puedes reportar cualquier tipo de siniestro en el que te llegues a ver involucrado, algo oportuno para recibir la atención inmediata por parte de un ajustador, envíos de grúas, ambulancias, etc.
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>

    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media pb-3">
              <!-- <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h3 class="display-5 mt-0">
                  <strong
                    :class="`color-landing-${this.$store.state.config.imga}`">Beneficios de contratar tu Seguro de Autos {{this.$store.state.auto[this.$store.state.config.imga].nam}}!
                  </strong>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <ul class="fa-ul text-justify">
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"> </i>
                    Toda la asistencia vial y auxilio mecánico contra cualquier problema, serán solventados en su totalidad por HDI Seguros.

                  </li>

                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"> </i>
                    Podrás recibir un servicio de traslado en caso de encontrarte en estado inconveniente para ser trasladado a tu domicilio.
                  </li>

                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true"> </i>
                    Recibes una garantía para la reparación de tu vehículo, además del mejoramiento en hojalateria y pintura en caso de daño.


                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true">
                    </i>
                    Si llegas a sufrir el robo de tu automóvil, no pagarás ningún tipo de deducible.

                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true">
                    </i>
                    Podrás recibir los precios más accesibles del mercado, además de una atención completamente personalizada.

                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true">
                    </i>
                    Tienes la posibilidad de contratar el seguro para llantas y rines, en donde tendrás hasta 4 eventos a la vigencia de tu póliza.

                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true">
                    </i>
                    Con HDI Seguros de Autos obtienes muchos beneficios para las reparaciones en cuestión de fallas mecánicas, entre muchos otros servicios.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true">
                    </i>
                    Al utilizar su aplicación móvil, tienes la posibilidad de pagar todas tus mensualidades desde esta plataforma.
                  </li>
                  <li>
                    <i class="fa fa-li fa-check text-success" aria-hidden="true">
                    </i>
                    ¡Cotiza en sólo 30 segundos!
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>

    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media pb-3">
              <!-- <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h4 class="display-5 mt-0">
                  <strong
                    :class="`color-landing-${this.$store.state.config.imga}`">¡No esperes más y contrata tu Seguro de Auto!
                    {{this.$store.state.auto[this.$store.state.config.imga].nam}}
                  </strong>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  En Ahorra Seguros sabemos de la importancia que significa contar con un Seguro de Auto, y es así que te damos todas las facilidades para que cuentes con el excelente respaldo que Seguros de Autos HDI, sin duda una de tus mejores opciones.
                </p>
                <p class="text-justify">
                  Recuerda que somos el cotizador número 1 del país, esta es una plataforma que te permite contratar tu póliza en menos de 2 minutos, pues uno de nuestros asesores te brindará una atención completamente personalizada con la que elegirás la cobertura que más te convenga.
                </p>
                <p class="text-justify">
                  ¡Cotiza en sólo 30 segundos!
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>

    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media pb-3">
              <!-- <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h3 class="display-5 mt-0">
                  <strong
                    :class="`color-landing-${this.$store.state.config.imga}`">No dejes de disfrutar de su protección. ¡Renueva tu seguro con Aseguradora {{this.$store.state.auto[this.$store.state.config.imga].nam}}!
                  </strong>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  Si tu Seguro de Autos con HDI está por vencer, no esperes más y renuévala, sigue disfrutando de todos los beneficios que HDI Seguros tiene para ti, en Ahorra Seguros renovar tu póliza con Seguros HDI es muy sencillo, lo cual te tomará únicamente 2 minutos y listo.
                </p>
                <p class="text-justify">
                  Sin necesidad de papeleos tediosos, incluso si tú lo deseas podrás ampliar tu cobertura con Aseguradora HDI si lo llegues a considerar, todo esto para brindarte una atención total que responda a todo lo que estés buscando.
                </p>
                <p class="text-justify">
                  ¡No esperes más!
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="w-100 py-1"></div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "ComplementoHdi",
    }
</script>

<style scoped>
  @import '../../../assets/app.css';
  @import '../../../assets/auto.css';
</style>
