<template>
  <div>
    <botonarriba-component/>
    <nuxt />
    <footer-component />
  </div>
</template>

<script>
  //import headerComponent from '~/components/common/header.vue';
  import footerComponent from '~/components/common/footer.vue';
  import BotonarribaComponent from '~/components/common/boton-arriba.vue';

export default {
  components: {
    //headerComponent,
    footerComponent,
    BotonarribaComponent,
  }
}
</script>