<template>
  <div class="container">
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>

export default {
  components: {
  },
  created() {
    this.$router.push('hdi')
    console.log(this.$router.push('hdi'))
  }
}
</script>
