<template>
  <div>
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body card-body-ajustes-promo">
          <div class="container">
            <div class="w-100"></div>
            <div class="row line-height-1">
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <img src="~/static/img/contenido/2019/icons/icons-h12.svg" alt="GNP" class="img-fluid height90">
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <img src="~/static/img/contenido/2019/icons/icons-5add.svg" alt="GNP Seguros"
                     class="img-fluid height90">
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                <img src="~/static/img/contenido/2019/icons/icons-recibe.svg" alt="Seguros GNP"
                     class="img-fluid height90">
              </div>
              <div class="w-100"></div>
              <!-- <div class="col-12 text-center font-size-12">
                  <small>Vigencia del 08 al 17 de Abril de 2019.</small>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>
    <!--Promociones-->

    <!--Beneficios exclusivos de tu seguro aseguradora-->
    <!-- <div class="container-fluid px-1 px-sm-2 px-md-4 px-lg-5 px-xl-5"> -->
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media">
              <img class="mr-2" :src="require(`~/static/img/aseguradora/${this.$store.state.config.aseguradora}.png`)" height="50"
                   alt="Seguro de auto"/>
              <div class="media-body">
                <h2 class="mt-0 display-5">
                  <strong :class="`color-landing-${this.$store.state.config.imga}`"> ¿Un Seguro de Auto con
                    {{ this.$store.state.auto[this.$store.state.config.imga].nam }}? ¡Sin duda la mejor decisión!</strong>
                  <span class="text-muted font-size-1-5-rem d-none">Ahorra Seguros.Mx</span>
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 align-items-center">
                <p class="text-justify">
                  GNP es reconocida como una de las compañías de seguros más prestigiosas que operan actualmente en México, pues sus más de 115 años le respaldan. Sin embargo son sólo los años, sino todo lo que ha hecho Aseguradora GNP con la intención de ayudar al sector asegurador, hablando específicamente de los seguros de autos.
                </p>
                <p class="text-justify">
                  La realidad es que GNP Seguros ha podido diseñar un seguro a la medida de cada cliente, pero además de todo esto, sabe cómo recompensar a sus asegurados, esto al adaptarse con distintos planes en sus coberturas, cada uno de estos en función de las necesidades que tenga cada conductor, pero también tomando en consideración su propio automóvil.
                </p>
                <p class="text-justify">
                  Además de especializarse en seguros de autos, GNP se ha caracterizado al paso de los años por ser una aseguradora multiramo, esto al ofrecer una amplia variedad de productos para la seguridad de sus clientes. Uno de los factores utilizados a su favor, es sin lugar a duda la innovación que aplica en sus herramientas, así sus servicios están al día de sus asegurados, creando soluciones que puedan responder contra los riesgos e imprevistos a los que todo mexicano está expuesto a diario.
                </p>
                <p class="text-justify">
                  En Ahorra Seguros somos el cotizador de seguros número uno de México, y por esa misma razón trabajamos junto a las mejores aseguradoras del país, como es el caso de GNP Seguros, quien se ha destacado por ser una de las pocas compañías que toma en cuenta a sus clientes en todo momento, desarrollando productos que se conviertan en un respaldo total, por ello es que al día de hoy cuenta con una presencia importante a nivel nacional.</p>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-5 align-middle align-self-center ">
                <div :class="`img-aseguradora-${this.$store.state.config.imga}`"></div>
                <!-- <imgs class="imgs-fluid gira-x" src="{{asset('imgs/contenido/carahorra.svg')}}" alt="Seguro de auto" /> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>
    <!--Beneficios exclusivos de tu seguro aseguradora-->

    <!--¿Qué te cubre tu Seguro de auto aseguradora?-->
    <!-- <div class="container-fluid px-1 px-sm-2 px-md-4 px-lg-5 px-xl-5"> -->
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div :class="`media d-none-${this.$store.state.config.imga}`">
              <!-- <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h2 class="mt-0">
                  ¡Con
                  <strong
                    :class="`color-landing-${this.$store.state.config.imga}`"> {{ this.$store.state.auto[this.$store.state.config.imga].nam }} </strong>Seguros de Auto tu tranquilidad  está garantizada!
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  Sabemos por experiencia que lo más importante al contratar tu seguro, es obviamente la protección que deseas darle a tu vehículo, pues esto pasa en gran medida por la importante inversión que realizaste para adquirirlo, pero además de esto, buscas un respaldo contra la inseguridad que se ha vivido durante los últimos años en nuestro país.
                </p>

                <p class="text-justify">
                  Por eso un Seguro de Autos GNP juega un papel importante, ya que te mantiene protegido con una póliza que te proteja con un servicio sólido, además de mantener una flexibilidad para adaptarse a todas tus necesidades, y para que puedas darte una idea de los servicios que Aseguradora GNP tiene para ti, aquí te los contamos:
                </p>
                <ul class="fa-ul text-justify">
                  <li>
                    <span class="fa-li"><i class="fa fa-check text-success"></i></span>
                    <b>Responsabilidad Civil:</b> Como en todas las compañías que se incursionan a los seguros de autos, esta cobertura cubre de todos los gastos que sean generados a raíz de un daño a los bienes de un tercero, o bien por lesiones que pudieran provocar, incluso GNP Seguros cubre los daños a la nación. Para complementar tu póliza, ofrece una extensión de Responsabilidad Civil, en donde aumenta las sumas aseguradas.
                  </li>
                  <li>
                    <span class="fa-li"><i class="fa fa-check text-success"></i></span>
                    <b>Daños Materiales:</b>Dividido en dos variantes, la primera de ellas contempla la pérdida total, misma que se refiere a todos aquellos actos vandálicos que ocurran a causa protestas, o bien por desastres naturales, y obviamente por el robo en su totalidad. Mientras que por su parte encontramos la pérdida parcial, esta cubre de los daños o pérdidas causadas en el automóvil asegurado por las causas de choques, vuelcos, sin embargo cuando el valor exceda el 50%, se declarará como pérdida total.
                  </li>
                  <li>
                    <span class="fa-li"><i class="fa fa-check text-success"></i></span>
                    <b>Responsabilidad civil en todo México</b> Por su parte, la protección del Seguro de Auto GNP se extiende contra el robo del vehículo, pues ante la inseguridad que se vive todos los días en el país, esta cobertura funciona a través de la indemnización en caso de no encontrarlo, y si es localizado con daños, se hará cargo de las reparaciones correspondientes.
                  </li>
                  <li>
                    <span class="fa-li"><i class="fa fa-check text-success"></i></span>
                    <b>Asistencia Vial</b> ¿Una llanta ponchada?, ¿se te acabó la gasolina? o ¿una pequeña falla mecánica?, ya no tienes de qué preocuparte, pues GNP pone a tu disposición el servicio de atención vial, en donde puedes solicitar desde el envío de una grúa para el arrastre de tu automóvil, así como la asistencia para el cambio de neumático, o revisión mecánica express, todo esto cubierto por la compañía.
                  </li>
                  <li>
                    <span class="fa-li"><i class="fa fa-check text-success"></i></span>
                    <b>Responsabilidad Legal:</b> De las coberturas más importantes que se ofrecen en tu Seguro de Autos GNP, la asistencia legal consta de asesorías en caso de problemas jurídicos que pudieras enfrentar, en donde cuentas con el apoyo de abogados para intervenir ante una demanda o proceso legal que se lleve en tu contra o a tu favor, contemplando incluso el pago de fianza o multa.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>
    <!--¿Qué te cubre tu Seguro de auto aseguradora?-->


    <!--¿Cómo contratar el Seguro de auto de HDI Seguros?-->
    <!-- <div class="container-fluid px-1 px-sm-2 px-md-4 px-lg-5 px-xl-5"> -->
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media pb-3">
              <!--  <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h3 class="display-5 mt-0">
                  Conoce las Coberturas que
                  <strong
                    :class="`color-landing-${this.$store.state.config.imga}`">Seguros {{ this.$store.state.auto[this.$store.state.config.imga].nam }} </strong> tiene para tu vehículo.
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  Tal como lo mencionamos en un inicio, no todos los clientes buscan la misma protección, pues esta puede ser mayor o menor dependiendo de las posibilidades económicas del asegurado, así como del valor o antigüedad del vehículo.
                </p>
                <p class="text-justify">
                  Para que te puedas informar un poco mejor sobre cada una de las coberturas que GNP Seguros de Auto tiene para ti, aquí te las mostramos:
                </p>
                <div class="table-responsive">
                  <table class="table table-sm table-striped table-hover">
                    <thead>
                    <tr>
                      <th scope="col">
                        Cobertura
                      </th>
                      <th scope="col">
                        Elite
                      </th>
                      <th scope="col">
                        Amplia
                      </th>
                      <th scope="col">
                        Limitada
                      </th>
                      <th scope="col">
                        Básica
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">
                        Responsabilidad Civil
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Gastos Médicos
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Asistencia Vial
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Club GNP Autos
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Responsabilidad Legal
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">
                        Daños Materiales
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">
                        Cristales
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Robo Total
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Auto Sustituto
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Siempre Agencia
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        RC en el Extranjero
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Ayuda para Llantas y Rines
                      </th>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        <i class="far fa-check-circle fa-lg text-success"></i>
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                      <td class="text-left align-middle">
                        No
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <p class="text-justify">
                    Recuerda que si tu póliza con Seguro de Autos GNP está por vencer, renuévala cuanto antes, y no dejes de
                    disfrutar de los mejores beneficios, así como de las coberturas más completas del mercado.
                  </p>
                </div>
              </div>

              <div :class="`col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center text-center d-none h1-landing-${this.$store.state.config.imga}`">

              </div>
              <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center text-center d-none-landing-{{session('landing')}}">
                              <button type="button" class="btn btn-info btn-lg m-1">
                                  Cotizar vía web
                              </button>
                              <button type="button" class="btn btn-info btn-lg m-1">
                                  Cotizar por teléfono
                              </button>
                          </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>

    <div :class="`container pCero d-none-landing-${this.$store.state.config.imga}`">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media pb-3">
              <!-- <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h3 class="display-5 mt-0">
                  ¿Cuáles son las sumas aseguradas y deducibles en tu Seguro de Auto <strong
                  :class="`color-landing-${this.$store.state.config.imga}`"> {{ this.$store.state.auto[this.$store.state.config.imga].nam }}
                  Seguros</strong>?  ¡Echa un vistazo!
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  Pasamos a uno de los puntos de mayor trascendencia para cualquier conductor, y es que sin importar la póliza que contrates con Aseguradora GNP, existen puntos que no se mueven, principalmente cuando hablamos de las indemnizaciones, mismas que se acompañan de deducibles, y para que estés al tanto de estos puntos, aquí te contamos:
                </p>

                <div class="table-responsive">
                  <table class="table table-sm table-striped table-hover">
                    <thead>
                    <tr>
                      <th scope="col">
                        Cobertura
                      </th>
                      <th scope="col">
                        Monto
                      </th>
                      <th scope="col">
                        Deducible
                      </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">
                        Daños Materiales
                      </th>
                      <td class="text-left align-middle">
                        Valor Comercial
                      </td>
                      <td class="text-left align-middle">
                        5%
                      </td>

                    </tr>
                    <tr>
                      <th scope="row">
                        Robo Total
                      </th>
                      <td class="text-left align-middle">
                        Valor Comercial
                      </td>
                      <td class="text-left align-middle">
                        10%
                      </td>

                    </tr>
                    <tr>
                      <th scope="row">
                        Gastos Médicos
                      </th>
                      <td class="text-left align-middle">
                        $200,000
                      </td>
                      <td class="text-left align-middle">
                        No Aplica
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        Cristales
                      </th>
                      <td class="text-left align-middle">
                        Costo Cristal
                      </td>
                      <td class="text-left align-middle">
                        20%
                      </td>

                    </tr>
                    <tr>
                      <th scope="row">
                        Responsabilidad Civil
                      </th>
                      <td class="text-left align-middle">
                        $3’000,000
                      </td>
                      <td class="text-left align-middle">
                        No Aplica
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <p class="text-justify">
                    Cabe aclarar que todos los modelos del año, reciben un valor factura en su contrato de seguros, por lo cual el monto que se les entregará es el mismo que se ha pagado a la agencia, además que estos no reciben ningún tipo de cargo por deducibles, etc.
                  </p>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>

    <div :class="`container pCero d-none-landing-${this.$store.state.config.imga}`">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media pb-3">
              <!-- <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h3 class="display-5 mt-0">
                  Conecta Móvil, la app digital <strong
                  :class="`color-landing-${this.$store.state.config.imga}`"> {{ this.$store.state.auto[this.$store.state.config.imga].nam }}
                  Seguros</strong>!
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  Con la mira puesta en adoptar de buena forma los canales digitales que al paso del tiempo se incursionan al sector asegurador, es como se da la creación de Conecta Móvil GNP, una plataforma orientada 100% al desarrollo en cuestiones digitales.
                </p>
                <p class="text-justify">
                  Esta herramienta de GNP Seguros brinda un acceso directo a todos sus servicios como aseguradora, pero también incluye la asistencia contra cualquier imprevisto, una aplicación para tu smartphone con la que te mantienes conectado con la compañía en el momento que lo necesites.
                </p>

                <p class="text-justify">
                  Una app como Conecta Móvil GNP te permite realizar solicitudes en tus coberturas de seguros para autos, mismas que serán posibles desde tu celular, además de ser gratuita y se mantiene disponible en todas las tiendas de aplicaciones Apple Store y Play Store.
                </p>
                <p class="text-justify">
                  Para usar la app de GNP Seguros no necesitas ser un experto en tecnología, pues en ella tienes la posibilidad de realizar distintos trámites, además de muchas otras funciones como:
                </p>
                <ul class="fa-ul text-justify">
                  <li>
                    <span class="fa-li"><i class="fa fa-check text-success"></i></span>
                    Reportar cualquier siniestro en el que te veas involucrado, todo esto con el botón SOS, este al ser oprimido accede directamente a tu ubicación en tiempo real, generando así el número de reporte con el que un ejecutivo de GNP se pondrá en contacto inmediatamente contigo para hacer el envío de un ajustador al lugar de los hechos
                  </li>
                  <li>
                    <span class="fa-li"><i class="fa fa-check text-success"></i></span>
                    Podrás solicitar asistencia vial, ya sea para el cambio de una llanta, envíos de gasolina, pasa de corriente, atención mecánica preventiva, envío de grúa, ambulancia e incluso para solicitar el servicio de cerrajería.
                  </li>
                  <li>
                    <span class="fa-li"><i class="fa fa-check text-success"></i></span>
                    Una vez que te sea asignado un ajustador, la app Conecta Móvil GNP te permite seguir de cerca la ubicación del mismo, además del tiempo estimado en el que llegará al lugar, una vez atendido el siniestro recibes la opción para calificar el servicio de tu ajustador.
                  </li>
                  <li>
                    <span class="fa-li"><i class="fa fa-check text-success"></i></span>
                    Recibe un directorio digital en donde podrás tener a la mano los servicios de emergencia, ya sea para bomberos, corralones, ministerio público, hospitales, gasolineras cercanas, etc.
                  </li>
                  <li>
                    <span class="fa-li"><i class="fa fa-check text-success"></i></span>
                    Si tu automóvil se encuentra en proceso de reparación, la app te permite dar seguimiento puntual a tu proceso de reparación, evitando dar vueltas y más vueltas al taller o agencia en el que se encuentre tu vehículo, además de incluir un contador de días por el robo de la unidad y al superar el periodo establecido, te indicará los pasos a seguir para el cobro de la indemnización.
                  </li>
                  <li>
                    <span class="fa-li"><i class="fa fa-check text-success"></i></span>
                    Y por último, otra de las funciones que Conecta Móvil GNP tiene para ti, es la habilitación de los monitoreos para el proceso de indemnización, el cual te servirá en el caso de los gastos médicos, daños materiales, etc.
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>

    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media pb-3">
              <!-- <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h4 class="display-5 mt-0">
                  ¿Qué cobertura debes contratar? ¡En Ahorra Seguros te aconsejamos!
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  Recuerda que no todos los vehículos pueden asegurarse con una cobertura básica, pero tampoco todos son recomendables para una amplia o elite. Todo esto depende en gran medida del modelo de tu coche, pues no es lo mismo un seguro para un vehículo 2018, 2019 o 2020, a un 2010.
                </p>
                <p class="text-justify">
                  Por esta razón es que en Ahorra Seguros te invitamos a que cotices tu Seguro de Autos GNP, y recibe una atención totalmente personalizada por alguno de nuestros asesores, así podrás despejar todas tus dudas para elegir la cobertura que más te convenga, considerando desde lo económico, hasta la misma protección que estés buscando para tu automóvil.
                </p>
                <p class="text-justify">
                  Recuerda que Aseguradora GNP tiene 4 planes diferentes para el cuidado de tu vehículo, y cada uno de ellos se concentra en poder brindarte el respaldo que necesitas para transitar por toda la República Mexicana, además de cumplir con las obligaciones que han sido impuestas por las autoridades correspondientes en los distintos estados del país que hoy en día solicitan al menos un seguro en Responsabilidad Civil.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>

    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media pb-3">
              <!-- <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h4 class="display-5 mt-0">
                  ¡No pierdas más tiempo y contrata tu Seguro de Auto {{ this.$store.state.auto[this.$store.state.config.imga].nam }}!
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  En Ahorra Seguros vemos más allá de una póliza con la que respondas a las peticiones impuestas por los reglamentos de tránsito, así como de las multas que pueden levantarse por las autoridades en caso de no cumplir con las normas.</p>
                <p class="text-justify">
                  Por experiencia sabemos que lo importante de tener un seguro de autos con GNP, es poder contar con la solidez financiera que se te ofrece, pues de esta forma podrás cuidar de tu patrimonio, y mantener la estabilidad que tu familia se merece, y es así que en Ahorra Seguros te invitamos a que cotices cuanto antes, es muy sencillo ya que solo necesitas ingresar tus datos personales, el modelo, marca y la submarca de tu auto.
                </p>
                <p class="text-justify">
                  ¡Cotiza y contrata tu Seguro de Autos GNP en menos de 2 minutos!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>
    <div class="container pCero">
      <div class="card shadow-cards">
        <div class="card-body">
          <div class="container">
            <div class="media pb-3">
              <!-- <imgs class="mr-2" src="{{asset('/imgs/common/car-tittle.svg')}}" height="50" alt="Seguro de auto"/> -->
              <div class="media-body">
                <h4 class="display-5 mt-0">
                  ¿Quieres seguir disfrutando de la experiencia con {{ this.$store.state.auto[this.$store.state.config.imga].nam }}? ¡Renueva ya!
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-items-center">
                <p class="text-justify">
                  Recuerda que si tu póliza con Seguro de Autos GNP está por vencer, renuévala cuanto antes, y no dejes de disfrutar de los mejores beneficios, así como de las coberturas más completas del mercado.
                </p>
                <p class="text-justify">
                  En Ahorra Seguros es muy fácil y rápido llevar a cabo la renovación con Seguros de Autos GNP, incluso si deseas añadir más servicios lo podrás hacer, sólo te tomará 2 minutos y listo.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 py-1"></div>
  </div>
</template>

<script>
    export default {
        name: "ComplementoGnp"
    }
</script>

<style scoped>
  @import '../../../assets/app.css';
  @import '../../../assets/auto.css';
</style>
