<template>
  <div>
    <div class="col-12 col-md-10 col-lg-10 pt-3 pt-md-4 m-auto for">
      <p class="text-center p-0 m-auton text-white text lead">¡Cotiza Ahora!</p>
      <form id="formcotizar" method="POST" @submit.prevent="validateBeforeSubmit('formcotizar')">
        <div class="row">
          <!-- MARCA -->
          <div class="col-6 form">
            <select
              class="form-control my-1"
              v-model="$store.state.formData.marca"
              @change="getModelos($event), myFocus('modelo')"
              v-validate="'required'"
              name="marca"
              id="marca"
            >
              <option value>Selecciona marca</option>
              <option v-for="marca in formData.marcas" v-bind:key="marca.id">{{ marca.marca }}</option>
            </select>
            <small v-show="errors.has('marca')" style="color:red">{{ errors.first('marca') }}</small>
          </div>
          <!--AÑO DE FABRICACION -->
          <div class="col-6 form">
            <select
              name="modelo"
              id="modelo"
              v-validate="'required'"
              v-model="$store.state.formData.modelo"
              class="form-control my-1"
              @change="getDescripciones($event), myFocus('descripcion')"
            >
              <option value>Año de Fabricación</option>
              <option v-for="modelo in formData.modelos" v-bind:key="modelo.id">{{ modelo.text }}</option>
            </select>
            <small v-show="errors.has('modelo')" style="color:red">{{ errors.first('modelo') }}</small>
          </div>
        </div>
        <div class="row">
          <!--Descripcion -->
          <div class="col-12 col-md-12 col-lg-6 form">
            <select
              name="descripcion"
              id="descripcion"
              v-validate="'required'"
              v-model="$store.state.formData.descripcion"
              class="form-control my-1"
              @change="getDetalles($event),  myFocus('range-1')"
            >
              <option value>Selecciona descripción</option>
              <option v-for="descripcion in formData.descripciones" v-bind:key="descripcion.id">
                {{
                descripcion.nombreModelo }}
              </option>
            </select>
            <small v-show="errors.has('descripcion')" style="color:red">{{ errors.first('descripcion') }}</small>
          </div>
          <!-- suma asegurada -->
          <div class="col-12 col-md-12 col-lg-6">
            <div class="form-group text-center">



              <b-form-input
                id="range-1"
                name="suma"
                v-validate="'min:'"
                v-model="$store.state.formData.sumaAsegurada"
                type="range"
                min="500"
                max="60000"
                step="500"
                @change="myFocus('nombre')"
              ></b-form-input>
              <div
                class="text-white"
              >Valor comercial: {{ $store.state.formData.sumaAsegurada | currency}} USD</div>
            </div>
          </div>
          <small v-show="errors.has('suma')" style="color:red">{{ errors.first('suma') }}</small>
        </div>

        <div class="row">
          <!-- NOMBRE -->
          <div class="col-12 col-md-12 col-lg-6 form">
            <input
              type="text"
              name="nombre"
              id="nombre"
              v-model="$store.state.formData.nombre"
              v-validate="{ required: true, alpha_spaces:true }"
              class="form-control my-1"
              placeholder="Escribe tu nombre"
              @change="myFocus('telefono')"
            />
            <small v-show="errors.has('nombre')" style="color:red">{{ errors.first('nombre') }}</small>
          </div>
          <!-- TELEFONO -->
          <div class="col-12 col-lg-6 form">
            <input
              type="tel"
              name="telefono"
              id="telefono"
              v-model="telefono"
              onKeyPress="if(this.value.length === 9) return false;"
              v-validate="{ required: true, numeric:true, max:9, min:7}"
              class="form-control my-1"
              placeholder="Escribe tu celular"
              @change="myFocus('correo')"
            />
            <small v-show="errors.has('telefono')" style="color:red">{{ errors.first('telefono') }}</small>
          </div>
        </div>

        <div class="row">
          <!-- CORREO -->
          <div class="col-12 col-lg-12 form">
            <input
              type="email"
              name="correo"
              id="correo"
              v-model="$store.state.formData.correo"
              v-validate="'required|email'"
              class="form-control my-1"
              placeholder="Escribe tu e-mail"
              @change="myFocus('btnCotizarAuto')"
            />
            <small v-show="errors.has('correo')" style="color:red">{{ errors.first('correo') }}</small>
          </div>
        </div>
        <!-- CHECKBOX -->
        <div class="row">
          <div class="col-12 text-center">
            <input type="radio" aria-label="Radio button for following text input" checked />
            <label class="priv text-white" for="checkbox1">
              Acepto la política de
              <a v-b-modal.modal-1>protección de datos personales</a>
              <b-modal id="modal-1" size="lg" hide-footer title="POLÍTICA DE PROTECCIÓN DE DATOS PERSONALES" button-size="md">

                <p>Conforme a lo establecido en la Ley N° 29733 - Ley de Protección de Datos Personales (la “Ley”) y en el Decreto Supremo 003-2013/JUS - Reglamento de la Ley (el “Reglamento”), brindo mi autorización expresa, libre, previa, informada, inequívoco, para que Qualitas Compañía de Seguros S.A. (en adelante, Qualitas Compañía de Seguros) en su calidad de titular del banco de datos personales de administración privada denominado "CLIENTES" (Código N° RNPDP-PJP N° 3551 ), realice el tratamiento de los datos personales informados por Usted en virtud del presente sitio web, que proporcione para la contratación del seguro, la información que se derive de su uso y/o cualquier información pública que pudiera recoger de fuentes de acceso público.</p>
                <p>En ese sentido, Qualitas Compañía de Seguros podrá realizar el tratamiento de los datos personales para los siguientes fines adicionales a la prestación del servicio:</p>
                <ul>
                  <li>Reacción de una base de datos que permita generar reportes estadísticos.</li>
                  <li>Envío de anuncios de interés comercial o sobre cambios en los productos</li>
                  <li>Envío de anuncios publicitarios de productos de Qualitas Compañía deSeguros</li>
                </ul>
                <p>En caso no acepte el tratamiento de datos personales, los mismos serán utilizados únicamente para fines estrictamente vinculados con la ejecución del contrato.</p>
                <p>Los datos personales serán tratados por Qualitas Compañía de Seguros en el banco de datos de “Clientes” de titularidad de Qualitas Compañía de Seguros, en su oficina principal ubicada en Calle Andrés Reyes N° 420, Oficina 601- A, San Isidro. La existencia de este banco de datos personales ha sido declarada a la Autoridad Nacional de Protección de Datos Personales, mediante su inscripción en el Registro Nacional de Protección de Datos Personales con la denominación “Clientes” con código RNPDPPJP N° 3551. Los datos personales proporcionados se conservarán mientras se mantenga la relación contractual y comercial con Qualitas Compañía de Seguros o durante un plazo de 10 años a partir de la conclusión de la relación contractual. El titular de los datos personales puede ejercer sus derechos de acceso, rectificación, cancelación y oposición en la oficina principal de Qualitas Compañía de Seguros en la dirección anteriormente indicada, mediante solicitud escrita acompañada de una copia del DNI, cumpliendo con los requisitos establecidos en la Ley de Protección de Datos Personales (Ley No. 29733) y su Reglamento (Decreto Supremo No. 003-2013-JUS).</p>
                <b-button class="my-3" block @click="$bvModal.hide('modal-1')" variant="primary">Aceptar</b-button>
              </b-modal>
            </label>
          </div>
        </div>
        <!-- BOTON -->
        <div class="row">
          <div class="col-12 text-center mb-4 mb-md-5">
            <button type="submit" class="btn b-cotizar mb-lg-3" id="btnCotizarAuto">
              <strong>Ver precios</strong>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script type="text/javascript">
  import descripcionesService from "~/plugins/descripciones";
  import detallesService from "~/plugins/detalles";

  export default {
    props: [
      'aseguradorap',
      'buscarp',
    ],
    data() {
      return {
        aseguradora: 'ALL',
        marca: '',
        value: '',
        modelo: '',
        descripcion: '',
        subDescripcion: '',
        detalle: '',
        detalleid: '',
        codigoPostal: '',
        nombre: '',
        apellidoPaterno: '',
        apellidoMaterno: '',
        telefono: '',
        correo: '',
        edad: '',
        genero: 'M',
        formData: {
          marcas: [],
          modelos: [],
          descripciones: [],
          subDescripciones: [],
          detalles: [],
          edades: []
        },
        seleccionado: ''
      }
    },
    beforeCreate: function () {

    },
    watch: {
      telefono: function (val) {
        //console.log("CAMBIO TELEFONO");
        //console.log(val);
        var regExp = /(.)\1{3}$/;
        var phone = regExp.exec(this.telefono);
        var ultimoCaracter = this.telefono.charAt(this.telefono.length - 1);

        if (this.telefono.charAt(this.telefono.length - 2) ==
          this.telefono.charAt(this.telefono.length - 1) - 1 &&
          this.telefono.charAt(this.telefono.length - 3) ==
          this.telefono.charAt(this.telefono.length - 1) - 2 &&
          this.telefono.charAt(this.telefono.length - 4) ==
          this.telefono.charAt(this.telefono.length - 1) - 3
        ) {
          this.telefono = this.telefono.substring(0, this.telefono.length - 1)
        } else {
          this.$store.state.formData.telefono = this.telefono;
        }

        if (!phone) {
          this.$store.state.formData.telefono = this.telefono;
        } else {
          this.telefono = this.telefono.substring(0, this.telefono.length - 1);
        }
      },
      nombre: function (val) {
        var regExp = /(.)\1{2}$/;
        var name = regExp.exec(this.nombre);
        var ultimoCaracter = this.nombre.charAt(this.nombre.length - 1);
        if (
          this.nombre.charAt(this.nombre.length - 2) ==
          this.nombre.charAt(this.nombre.length - 1) - 1 &&
          this.nombre.charAt(this.nombre.length - 3) ==
          this.nombre.charAt(this.nombre.length - 1) - 2 &&
          this.nombre.charAt(this.nombre.length - 4) ==
          this.nombre.charAt(this.nombre.length - 1) - 3
        ) {
          this.nombre = this.nombre.substring(0, this.nombre.length - 1);
        } else {
          this.nombre = this.nombre;
        }

        if (!name) {
          this.nombre = this.nombre;
        } else {
          this.nombre = this.nombre.substring(0, this.nombre.length - 1);
        }
      },
      correo: function (val) {
        var regExp = /(.)\1{2}$/;
        var mail = regExp.exec(this.correo);
        var ultimoCaracter = this.correo.charAt(this.correo.length - 1);
        if (
          this.correo.charAt(this.correo.length - 2) ==
          this.correo.charAt(this.correo.length - 1) - 1 &&
          this.correo.charAt(this.correo.length - 3) ==
          this.correo.charAt(this.correo.length - 1) - 2 &&
          this.correo.charAt(this.correo.length - 4) ==
          this.correo.charAt(this.correo.length - 1) - 3
        ) {
          this.correo = this.correo.substring(0, this.correo.length - 1);
        } else {
          this.correo = this.correo;

        }

        if (!mail) {
          this.correo = this.correo;
        } else {
          this.correo = this.correo.substring(0, this.correo.length - 1);
        }
      }
    },
    created: function () {
      this.formData.marcas.length = 0;
      this.formData.modelos.length = 0;
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      this.formData.edades.length = 0;
      this.$store.state.formData.aseguradora = this.$store.state.config.aseguradora;

      this.getMarcas();
      this.getEdades();
    },
    methods: {
      submit() {
        console.log('success');
      },
      setMarca: function(event) {
        this.$store.state.formData.idMarca = this.formData.marcas[index].idMarca;
      },
      getMarcas: function () {
        /*axios.get('/method/getMarcas/' +
          this.aseguradora
        ).then(
          response => {
            this.marcas = response.data;
          }
        );*/
        this.formData.marcas = JSON.parse('[{"id":28,"marca":"AUDI","tipo":"PARTICULAR"},{"id":29,"marca":"BAIC","tipo":"PARTICULAR"},{"id":30,"marca":"BMW","tipo":"PARTICULAR"},{"id":31,"marca":"BRILLIANCE","tipo":"PARTICULAR"},{"id":32,"marca":"BYD","tipo":"PARTICULAR"},{"id":33,"marca":"CHANGAN","tipo":"PARTICULAR"},{"id":34,"marca":"CHERY","tipo":"PARTICULAR"},{"id":35,"marca":"CHEVROLET","tipo":"PARTICULAR"},{"id":36,"marca":"CHRYSLER","tipo":"PARTICULAR"},{"id":37,"marca":"CITROEN","tipo":"PARTICULAR"},{"id":38,"marca":"DAIHATSU","tipo":"PARTICULAR"},{"id":39,"marca":"DODGE","tipo":"PARTICULAR"},{"id":40,"marca":"DONGFENG","tipo":"PARTICULAR"},{"id":41,"marca":"FAW","tipo":"PARTICULAR"},{"id":42,"marca":"FIAT","tipo":"PARTICULAR"},{"id":43,"marca":"FORD","tipo":"PARTICULAR"},{"id":44,"marca":"GEELY","tipo":"PARTICULAR"},{"id":45,"marca":"GREATWALL","tipo":"PARTICULAR"},{"id":46,"marca":"HAFEI","tipo":"PARTICULAR"},{"id":47,"marca":"HAIMA","tipo":"PARTICULAR"},{"id":48,"marca":"HAVAL","tipo":"PARTICULAR"},{"id":49,"marca":"HONDA","tipo":"PARTICULAR"},{"id":50,"marca":"HYUNDAI","tipo":"PARTICULAR"},{"id":51,"marca":"JAC","tipo":"PARTICULAR"},{"id":52,"marca":"JEEP","tipo":"PARTICULAR"},{"id":53,"marca":"KIA","tipo":"PARTICULAR"},{"id":54,"marca":"LEXUS","tipo":"PARTICULAR"},{"id":55,"marca":"LIFAN","tipo":"PARTICULAR"},{"id":56,"marca":"MAHINDRA","tipo":"PARTICULAR"},{"id":57,"marca":"MAZDA","tipo":"PARTICULAR"},{"id":58,"marca":"MERCEDESBENZ","tipo":"PARTICULAR"},{"id":59,"marca":"MG","tipo":"PARTICULAR"},{"id":60,"marca":"MINI","tipo":"PARTICULAR"},{"id":61,"marca":"MITSUBISHI","tipo":"PARTICULAR"},{"id":62,"marca":"NISSAN","tipo":"PARTICULAR"},{"id":63,"marca":"PEUGEOT","tipo":"PARTICULAR"},{"id":64,"marca":"RENAULT","tipo":"PARTICULAR"},{"id":65,"marca":"SEAT","tipo":"PARTICULAR"},{"id":66,"marca":"SSANGYONG","tipo":"PARTICULAR"},{"id":67,"marca":"SUBARU","tipo":"PARTICULAR"},{"id":68,"marca":"SUZUKI","tipo":"PARTICULAR"},{"id":69,"marca":"TOYOTA","tipo":"PARTICULAR"},{"id":70,"marca":"VOLKSWAGEN","tipo":"PARTICULAR"},{"id":71,"marca":"VOLVO","tipo":"PARTICULAR"},{"id":72,"marca":"ZOTYE","tipo":"PARTICULAR"}]');

      },
      getModelos: function (event) {
        this.$store.state.formData.idMarca = this.formData.marcas[
        event.currentTarget.selectedOptions[0].index - 1
          ].id;
        document.getElementById("modelo").focus();
        this.$store.state.formData.modelo = "";
        this.$store.state.formData.descripcion = "";
        this.$store.state.formData.subDescripcion = "";
        this.$store.state.formData.detalle = "";
        this.formData.modelos.length = 0;
        this.formData.descripciones.length = 0;
        this.formData.subDescripciones.length = 0;
        this.formData.detalles.length = 0;

        this.formData.modelos = JSON.parse('[{"id":"1","text":"2019"},' +
                                                  '{"id":"2","text":"2018"},' +
                                                  '{"id":"3","text":"2017"},' +
                                                  '{"id":"4","text":"2016"},' +
                                                  '{"id":"5","text":"2015"},' +
                                                  '{"id":"6","text":"2014"},' +
                                                  '{"id":"7","text":"2013"},' +
                                                  '{"id":"8","text":"2012"},' +
                                                  '{"id":"9","text":"2011"},' +
                                                  '{"id":"10","text":"2010"},' +
                                                  '{"id":"11","text":"2009"},' +
                                                  '{"id":"12","text":"2008"},' +
                                                  '{"id":"13","text":"2007"},' +
                                                  '{"id":"14","text":"2006"},' +
                                                  '{"id":"15","text":"2005"},' +
                                                  '{"id":"16","text":"2004"}]'
        );
      },
      getDescripciones: function (event) {
        console.log(this.$store.state.formData.marca);
        this.$store.state.formData.idModelo = this.formData.modelos[
        event.currentTarget.selectedOptions[0].index - 1
          ].id;
        console.log($(location).attr('href'));
        document.getElementById("descripcion").focus();
        this.$store.state.formData.descripcion = "";
        this.$store.state.formData.subDescripcion = "";
        this.$store.state.formData.detalle = "";
        this.formData.descripciones.length = 0;
        this.formData.subDescripciones.length = 0;
        this.formData.detalles.length = 0;
        descripcionesService
          .search(Number(this.$store.state.formData.idMarca))
          .then(response => {
            this.formData.descripciones = response;
          });
      },
      getDetalles: function(event) {
        this.$store.state.formData.idDescripcion = this.formData.descripciones[
        event.currentTarget.selectedOptions[0].index - 1
          ].id;
        this.$store.state.formData.detalle = "";
        this.formData.detalles.length = 0;
        detallesService
          .search(Number(this.$store.state.formData.idDescripcion))
          .then(response => {
            this.$store.state.formData.grupo = response[0].grupo;
          });
      },
      getTipos: function () {
      },
      getEdades: function () {
        for (var i = 18; i < 100; i++) {
          this.formData.edades.push({
            id: i,
            text: i
          });
        }
      },
      detalleSelected(evt) {
        var index = evt.target.selectedIndex;
        this.detalle = evt.target.options[index].label;
        if ($('#edad').length) {
          this.myFocus('edad');
        }
      },
      validateBeforeSubmit(scope) {
        this.$validator.validateAll().then(result => {
          document.getElementById("btnCotizarAuto").disabled = true;
          if (result) {
            document.getElementById("formcotizar").reset();
            this.$router.push({ path: `/${this.$store.state.config.imga}/gracias` });
          } else {
            document.getElementById("btnCotizarAuto").disabled = false;
          }
          return;
        });
      },
      myFocus: function (id) {
        document.getElementById(id).focus();
      }
      /*directives: {
      focus: {
        inserted: function (el) {
          el.focus()
        }
      }
    },
    mounted() {
    }*/
    },
    directives: {
      focus: {
        inserted: function (el) {
          el.focus();
        }
      }
    }
  }

</script>
<style scoped>
</style>
